<main class="mt-5">
  <div class="container">

    <h1 class="text-center">Update My Information</h1>

    <section>
      <h3 class="text-center dark-grey-text w-responsive mx-auto mb-5">
        "Change is inevitable.  Growth is optional."
        <br><em><small>―John C. Maxwell</small></em>
      </h3>
    </section> <!-- mission description -->

    <div class="row justify-content-md-center">
      <div class="text-center col-md-8 border border-light px-5 pt-3 pb-2 mb-5">

        <small class="form-text text-muted mb-4">
            All Fields are Required
        </small>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.error_notification %>
            <%= f.invisible_captcha :subtitle %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <div class="form-inputs">
              <div class="form-row">
                <div class="col">
                    <%= f.input :first_name,
                          required: true,
                          autofocus: true,
                          label: false,
                          input_html: { autocomplete: "first_name",
                            id: "defaultRegisterFormFirstName",
                            class: "form-control mb-4",
                            placeholder: 'First Name'} %>
                </div> <!-- col -->
                <div class="col">
                  <%= f.input :last_name,
                        required: true,
                        label: false,
                        input_html: { autocomplete: "last_name",
                          id: "defaultRegisterFormLastName",
                          class: "form-control mb-4",
                          placeholder: 'Last Name'} %>
                  </div> <!-- col -->
                </div> <!-- form row -->

                <div class="form-row">
                  <div class="col">
                    <%= f.input :email,
                                required: true,
                                label: false,
                                input_html: { autocomplete: "email",
                                  id: "defaultRegisterFormEmail",
                                  class: "form-control mb-4",
                                  placeholder: 'Email Address'} %>
                  </div> <!-- col -->
                  <div class="col">
                    <%= f.input :phone,
                          required: true,
                          label: false,
                          input_html: { autocomplete: "phone",
                            id: "defaultRegisterFormPhone",
                            class: "form-control mb-4",
                            placeholder: 'Phone Number'} %>
                  </div> <!-- col -->
                </div> <!-- form row -->

                <%= f.input :current_password,
                          required: true,
                          label: false,
                          input_html: { autocomplete: "new-password",
                            id: "defaultRegisterCurrentPassword",
                            class: "form-control",
                            placeholder: 'Current Password'} %>
                <small class="form-text text-muted mb-3">
                    Needed to Confirm Changes
                </small>

                <div class="form-row">
                  <div class="col">
                    <%= f.input :password,
                              required: false,
                              label: false,
                              input_html: { autocomplete: "new-password",
                                id: "defaultRegisterNewPassword",
                                class: "form-control",
                                placeholder: 'Password'} %>
                  </div> <!-- col -->
                  <div class="col">
                    <%= f.input :password_confirmation,
                                required: false,
                                label: false,
                                input_html: { autocomplete: "new-password",
                                  id: "defaultRegisterConfirmNewPassword",
                                  class: "form-control",
                                  placeholder: 'Password Confirmation' } %>
                  </div> <!-- col -->
                </div> <!-- form row -->
                <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-3">
                    Leave Blank to Keep Current Password
                </small>


                <div class="form-group text-left">
                  <small class="form-text text-muted mb-1">
                    Please select your TOCA location:
                  </small>
                  <div class="input select optional user_location field_without_errors"><select class="select optional browser-default custom-select" name="user[location]" id="user_location"><option value=""></option>
                    <% @locations.each do |l| %>
                      <option selected="selected" value="<%= l.name %>"><%= l.name %></option>
                    <% end %>
                  </div>
                </div>

              </div> <!-- form-inputs -->

              <div class="form-actions">
                <%= f.button :submit, "Update My Info", class: "btn btn-primary mb-4 btn-block" %>
              </div>

              <!-- Information below button -->
              <p><%= render "devise/shared/links" %></p>

            <% end %>
        </div> <!-- form border column -->
      </div> <!-- row -->

  </div> <!-- container -->
</main>
