<main class="mt-5">
  <div class="container">

    <h1 class="text-center">Create an Account</h1>

    <section>
      <h3 class="text-center dark-grey-text w-responsive mx-auto mb-5">"Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur." -Author</h3>
    </section> <!-- mission description -->

    <div class="row justify-content-md-center">
      <div class="text-center col-md-8 border border-light px-5 pt-5 pb-2">

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>
            <%= f.invisible_captcha :subtitle %>

            <div class="form-inputs">

              <div class="form-row mb-4">
                  <div class="col">
                      <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
                  </div>
                  <div class="col">
                      <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
                  </div>
              </div> <!-- form row -->

              <%= f.input :email,
                          required: true,
                          autofocus: true,
                          label: false,
                          input_html: { autocomplete: "email",
                            id: "defaultRegisterFormEmail",
                            class: "form-control mb-4",
                            placeholder: 'Email Address (required)'} %>
              <div class="form-row">
                <div class="col">
                  <%= f.input :password,
                            required: true,
                            label: false,
                            input_html: { autocomplete: "new-password",
                              id: "defaultRegisterPasswordConfirm",
                              class: "form-control",
                              placeholder: 'Password (required)'} %>
                  <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                      At least 6 characters
                  </small>
                </div> <!-- col -->
                <div class="col">
                  <%= f.input :password_confirmation,
                              required: true,
                              label: false,
                              input_html: { autocomplete: "new-password",
                                id: "defaultRegisterPhonePassword",
                                class: "form-control",
                                placeholder: 'Password Confirmation' } %>
                  <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                      Required
                  </small>
                </div> <!-- col -->
              </div> <!-- form row -->


                <!-- Phone number -->
                <!-- <input type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="Phone number" aria-describedby="defaultRegisterFormPhoneHelpBlock"> -->

                <!-- Newsletter -->
                <!-- <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
                    <label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe to our newsletter</label>
                </div> -->

              </div> <!-- form-inputs -->

              <div class="form-actions">
                <%= f.button :submit, "Sign up", class: "btn btn-primary mb-4 btn-block" %>
              </div>

              <!-- Information below button -->
              <p>By signing up you agree to our
                  <a href="" target="_blank">terms of service</a>.<br>
                  <%= render "devise/shared/links" %>
              </p>

            <% end %>
        </div> <!-- form border column -->
      </div> <!-- row -->

  </div> <!-- container -->
</main>
