<main class="my-5">
  <div class="container">

    <h1 class="text-center">Create an Account</h1>

    <section>
      <h3 class="text-center dark-grey-text w-responsive mx-auto mb-5">
        If you want to go fast, go alone.. <br class="d-none d-md-block">If you want to go far, go&nbsp;together.
        <br><em><small>―African Proverb</small></em>
      </h3>
    </section> <!-- mission description -->

    <div class="row justify-content-md-center">
      <div class="text-center col-md-8 border border-light px-5 pt-3 pb-2">

        <small class="form-text text-muted mb-4">
            All Fields are Required
        </small>

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>
            <%= f.invisible_captcha :subtitle %>

            <div class="form-inputs">
              <div class="form-row">
                <div class="col">
                    <%= f.input :first_name,
                          required: true,
                          autofocus: true,
                          label: false,
                          input_html: { autocomplete: "first_name",
                            id: "defaultRegisterFormFirstName",
                            class: "form-control mt-4",
                            placeholder: 'First Name'} %>
                </div> <!-- col -->
                <div class="col">
                  <%= f.input :last_name,
                        required: true,
                        autofocus: true,
                        label: false,
                        input_html: { autocomplete: "last_name",
                          id: "defaultRegisterFormLastName",
                          class: "form-control mt-4",
                          placeholder: 'Last Name'} %>
                </div> <!-- col -->
              </div> <!-- form row -->

              <div class="form-row">
                <div class="col-lg-6">
                  <%= f.input :email,
                              required: true,
                              autofocus: true,
                              label: false,
                              input_html: { autocomplete: "email",
                                id: "defaultRegisterFormEmail",
                                class: "form-control mt-4",
                                placeholder: 'Email Address'} %>
                </div> <!-- col-lg-6 -->
                <div class="col-lg-6">
                  <%= f.input :phone,
                        required: true,
                        autofocus: true,
                        label: false,
                        input_html: { autocomplete: "phone",
                          id: "defaultRegisterFormPhone",
                          class: "form-control mt-4",
                          placeholder: 'Phone Number'} %>
                </div> <!-- col-lg-6 -->
              </div> <!-- form row -->

              <div class="form-row mt-4">
                <div class="col">
                  <%= f.input :password,
                            required: true,
                            label: false,
                            input_html: { autocomplete: "new-password",
                              id: "defaultRegisterPassword",
                              class: "form-control",
                              placeholder: 'Password'} %>
                  <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-1">
                      At least 6 characters
                  </small>
                </div> <!-- col -->
                <div class="col">
                  <%= f.input :password_confirmation,
                              required: true,
                              label: false,
                              input_html: { autocomplete: "new-password",
                                id: "defaultRegisterPasswordConfirm",
                                class: "form-control",
                                placeholder: 'Password Confirmation' } %>
                  <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-1">
                      Required
                  </small>
                </div> <!-- col -->
              </div> <!-- form row -->

              <div class="form-group text-left">
                <small class="form-text text-muted mb-1">
                  Please select your TOCA location:
                </small>
                <%= f.input :location, label: false, input_html: {class: 'browser-default custom-select'}, collection: [
                  ['TOCA Corporate', 'TOCA Corporate'],
                  ['Orange County', 'Orange County'],
                  ['Torrance', 'Torrance'],
                  ['Redmond', 'Redmond'],
                  ['Lynnwood', 'Lynnwood'],
                  ['Carrollton', 'Carrollton'],
                  ['West Cobb', 'West Cobb'],
                  ['Marietta', 'Marietta'],
                  ['Perimeter', 'Perimeter'],
                  ['TOCA Academy', 'TOCA Academy'],
                  ['Goals Training Facility', 'Goals Training Facility'],
                  ['Pasadena Soccer Academy', 'Pasadena Soccer Academy'],
                  ['Futbol Dojo', 'Futbol Dojo'],
                  ['Colorado Springs', 'Colorado Springs'],
                  ['Parisi Colorado', 'Parisi Colorado'],
                  ['Colorado Rapids', 'Colorado Rapids'],
                  ['Urban Soccer Center', 'Urban Soccer Center'],
                  ['High Octane Soccer Dallas', 'High Octane Soccer Dallas'],
                  ['High Octane Soccer Allen', 'High Octane Soccer Allen'],
                  ['Omaha', 'Omaha'],
                  ['Triple C Soccer', 'Triple C Soccer'],
                  ['JC Sports', 'JC Sports'],
                  ['Street Soccer', 'Street Soccer'],
                  ['TOCA Sogility', 'TOCA Sogility'],
                  ['Tower Hill Sports', 'Tower Hill Sports']
                ] %>
              </div>

            </div> <!-- form-inputs -->

            <div class="form-actions">
              <%= f.button :submit, "Sign up", class: "btn btn-primary my-4 btn-block" %>
            </div>

            <!-- Information below button -->
            <p>By signing up you agree to our
                <a href="" target="_blank">terms of service</a>.<br>
                <%= render "devise/shared/links" %>
            </p>

          <% end %>
        </div> <!-- form border column -->
      </div> <!-- row -->

  </div> <!-- container -->
</main>
