<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @scholarship.full_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @scholarship.date %>
</p>

<p>
  <strong>Position:</strong>
  <%= @scholarship.position %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @scholarship.branch %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @scholarship.start_date %>
</p>

<p>
  <strong>Email non toca:</strong>
  <%= @scholarship.email_non_toca %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @scholarship.mobile %>
</p>

<p>
  <strong>Address:</strong>
  <%= @scholarship.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @scholarship.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @scholarship.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @scholarship.zip %>
</p>

<p>
  <strong>Institution name:</strong>
  <%= @scholarship.institution_name %>
</p>

<p>
  <strong>Institution contact:</strong>
  <%= @scholarship.institution_contact %>
</p>

<p>
  <strong>Institution phone:</strong>
  <%= @scholarship.institution_phone %>
</p>

<p>
  <strong>Institution address:</strong>
  <%= @scholarship.institution_address %>
</p>

<p>
  <strong>Requested amount:</strong>
  <%= @scholarship.requested_amount %>
</p>

<p>
  <strong>Self fund:</strong>
  <%= @scholarship.self_fund %>
</p>

<p>
  <strong>Scholarship description:</strong>
  <%= @scholarship.scholarship_description %>
</p>

<p>
  <strong>Intent signature:</strong>
  <%= @scholarship.intent_signature %>
</p>

<p>
  <strong>Intent signature date:</strong>
  <%= @scholarship.intent_signature_date %>
</p>

<p>
  <strong>Release signature:</strong>
  <%= @scholarship.release_signature %>
</p>

<p>
  <strong>Release signature date:</strong>
  <%= @scholarship.release_signature_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @scholarship.status %>
</p>

<p>
  <strong>Final decision:</strong>
  <%= @scholarship.final_decision %>
</p>

<p>
  <strong>Returned:</strong>
  <%= @scholarship.returned %>
</p>

<p>
  <strong>Approvals:</strong>
  <%= @scholarship.approvals %>
</p>

<p>
  <strong>Rejections:</strong>
  <%= @scholarship.rejections %>
</p>

<p>
  <strong>User:</strong>
  <%= @scholarship.user %>
</p>

<%= link_to 'Edit', edit_scholarship_path(@scholarship) %> |
<%= link_to 'Back', scholarships_path %>
