<div class="text-right pt-3 pr-5">
  <%= link_to 'Preauthorize Members', new_authorization_path, class: "color-toca-red bold" %>
</div>

<main>
  <div class="container">

    <div class="text-center">
      <h1>Users</h1>
    </div>

    <section class="my-5">
      <h2 class="toca-uppercase color-toca-red"><%= pluralize(@committee_requests.count, "Committee Request") %></h2>
      <ul class="list-group">
        <% @committee_requests.each do |user| %>
          <li class="list-group-item"><%= user.last_name %>, <%= user.first_name %>
            ( <%= button_to "Approve", make_committee_path(user), class: "not-button", method: :post, confirm: "Are you sure you want to approve that committee request?" %> | <%= button_to "Deny", deny_committee_path(user), class: "not-button", method: :post, confirm: "Are you sure you want to deny that committee request?" %> )</li>
        <% end %>
      </ul>
    </section> <!-- contributor requests -->

    <section class="my-5">
      <h2 class="toca-uppercase color-toca-red"><%= pluralize(@admin.count, "Admin") %></h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead class="bg-toca-red white-text">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @admin.each do |user| %>
              <tr>
                <td><%= user.id %></td>
                <td><%= user.last_name %>, <%= user.first_name %></td>
                <td><%= user.email %></td>
                <td>
                  <%= link_to "Remove as Admin", remove_admin_path(user), method: :post, confirm: "Are you sure you want to remove this user as an admin?" %><br>
                  <% if user.committee %>
                    <%= link_to "Remove from Committee", remove_committee_path(user), method: :post, confirm: "Are you sure you want to remove this user as a committee member?" %>
                  <% else %>
                    <%= link_to "Add to Committee", make_committee_path(user), method: :post, confirm: "Are you sure you want to make this user a committee member?" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div> <!-- responsive table -->

      <p><strong>Preauthorizations:</strong>
        <% if @admin_authorizations.count >= 1 %>
          <% admin_preauthorizations = [] %>
          <% @admin_authorizations.each do |a| %>
            <% admin_preauthorizations << a.email %>
          <% end %>
          <%= admin_preauthorizations.join(", ") %>
        <% else %>
          None
        <% end %>
      </p>

    </section> <!-- admin -->


    <section class="my-5">
      <h2 class="toca-uppercase color-toca-red"><%= pluralize(@committee.count, "Committee Member") %></h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead class="bg-toca-red white-text">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @committee.each do |user| %>
              <tr>
                <td><%= user.id %></td>
                <td><%= user.last_name %>, <%= user.first_name %></td>
                <td><%= user.email %></td>
                <td>
                  <% if user.admin %>
                    <%= link_to "Remove as Admin", remove_admin_path(user), method: :post, confirm: "Are you sure you want to remove this user as an admin?" %><br>
                  <% else %>
                    <%= link_to "Make Admin", make_admin_path(user), method: :post, confirm: "Are you sure you want to make this user an admin?" %><br>
                  <% end %>
                  <%= link_to "Remove from Committee", remove_committee_path(user), method: :post, confirm: "Are you sure you want to remove this user as a committee member?" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div> <!-- responsive table -->

      <p><strong>Preauthorizations:</strong>
        <% if @committee_authorizations.count >= 1 %>
          <% committee_preauthorizations = [] %>
          <% @committee_authorizations.each do |a| %>
            <% committee_preauthorizations << a.email %>
          <% end %>
          <%= committee_preauthorizations.join(", ") %>
        <% else %>
          None
        <% end %>
      </p>

    </section> <!-- committee -->


    <section class="my-5">
      <h2 class="toca-uppercase color-toca-red"><%= pluralize(@members.count, "Member") %></h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead class="bg-toca-red white-text">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @members.each do |user| %>
              <tr>
                <td><%= user.id %></td>
                <td>
                  <%= user.last_name %>, <%= user.first_name %><br>
                  <% if user.authorized_by_admin %>
                    <%= link_to "Revoke Authorization", unauthorize_user_path(user), method: :post, confirm: "Are you sure you want to revoke this user's account?" %>
                  <% else %>
                    <%= link_to "Authorize", authorize_user_path(user), method: :post, confirm: "Are you sure you want to authorize this user?" %>
                  <% end %>
                </td>
                <td><%= user.email %></td>
                <td>
                  <%= link_to "Make Admin", make_admin_path(user), method: :post, confirm: "Are you sure you want to make this user an admin?" %><br>
                  <%= link_to "Add to Committee", make_committee_path(user), method: :post, confirm: "Are you sure you want to make this user a committee member?" %><br>
                  <%= link_to "Delete User", admin_destroy_user_path(user), method: :delete, data: { confirm: "You sure you want to delete that user? This will permanently delete their account and any records they may have created." } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div> <!-- responsive table -->
    </section> <!-- members -->



  </div> <!-- container -->
</main>
