<main class="mt-3">
  <div class="container">

    <div class="row">
      <div class="text-left col">
        <% if @user.admin && @user.committee %>
          <div class="toca-uppercase color-toca-red">Admin & Committee Member</div><br>
        <% elsif @user.admin %>
          <div class="toca-uppercase color-toca-red">Admin</div><br>
        <% elsif @user.committee %>
          <div class="toca-uppercase color-toca-red">Committee Member</div><br>
        <% end %>
      </div>
      <p class="text-right col">
        <%= link_to('Edit My Information', edit_user_registration_path(current_user)) %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to('Log Out', destroy_user_session_path, method: :delete) %>
      </p>
    </div> <!-- row -->

    <h1 class="text-center">My Account</h1>

    <section>
      <p class="text-center">
        <%= @user.first_name %> <%= @user.last_name %> (<%= @user.location %>)<br>
        <%= number_to_phone(@user.phone) %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= mail_to @user.email %>
      </p>
    </section> <!-- user info -->



    <!-- IF COMMITTEE -->
    <% if @user.committee %>

      <h2 class="text-center toca-uppercase color-toca-red mt-5">Committee Member Actions</h2>
      <%= link_to app_forms_path, style: "display: inline-block", class: "btn btn-secondary my-3 btn-lg btn-block" do %>
        <% if @need_votes != 0 %>
          <div class="bg-toca-red notification-bubble"><%= @need_votes %></div>
        <% end %>
        Applications Needing Votes
      <% end %>

      <%= link_to messages_path, style: "display: inline-block", class: "btn btn-secondary my-0 btn-lg btn-block" do %>
        <% if @open_message_threads.count != 0 %>
          <div class="bg-toca-red notification-bubble"><%= @open_message_threads.count %></div>
        <% end %>
        Open Message Threads
      <% end %>

      <div class="text-center mt-3">
        <em><%= link_to "View Historical Applications", home_applications_path, class: "color-toca-red" %></em>
      </div>

    <% end %>
    <!-- END COMMITTEE ONLY -->




    <!-- IF ADMIN -->
    <% if @user.admin %>
      <section class="my-5">
        <h2 class="text-center toca-uppercase color-toca-red">Admin Actions</h2>


        <div class="row">
          <div class="col-12 col-sm-6 col-lg-4">
            <%= link_to app_forms_path, class: "btn btn-secondary my-3 btn-lg btn-block", style: "height: 67px" do %>
              <% if @open_applications.count != 0 %>
                <div class="bg-toca-red notification-bubble"><%= @open_applications.count %></div>
              <% end %>
              Application Viewer
            <% end %>
          </div> <!-- col -->

          <div class="col-12 col-sm-6 col-lg-4">
            <%= link_to messages_path, style: "display: inline-block", class: "btn btn-secondary my-3 btn-lg btn-block", style: "height: 67px" do %>
              <% if @open_message_threads.count != 0 %>
                <div class="bg-toca-red notification-bubble"><%= @open_message_threads.count %></div>
              <% end %>
              Open Messages
            <% end %>
          </div> <!-- col -->

          <div class="col-12 col-sm-6 col-lg-4">
            <%= link_to questions_path, class: "btn btn-secondary my-3 btn-lg btn-block", style: "height: 67px" do %>
              <% if @questions.count != 0 %>
                <div class="bg-toca-red notification-bubble"><%= @questions.count %></div>
              <% end %>
              Answer Questions
            <% end %>
          </div> <!-- col -->

          <div class="col-12 col-sm-6 col-lg-4">
            <%= link_to users_path, class: "btn btn-secondary my-3 btn-lg btn-block", style: "height: 67px" do %>
              <% if @committee_requests.count != 0 %>
                <div class="bg-toca-red notification-bubble"><%= @committee_requests.count %></div>
              <% end %>
              Manage Users
            <% end %>
          </div> <!-- col -->

          <div class="col-12 col-sm-6 col-lg-4">
            <%= link_to home_testimonials_path, class: "btn btn-secondary my-3 btn-lg btn-block", style: "height: 67px" do %>
              <% if @testimonials.count != 0 %>
                <div class="bg-toca-red notification-bubble"><%= @testimonials.count %></div>
              <% end %>
              Manage Testimonials
            <% end %>
          </div> <!-- col -->

          <div class="col-12 col-sm-6 col-lg-4">
            <%= link_to values_path, class: "btn btn-secondary my-3 btn-lg btn-block", style: "height: 67px" do %>
              Set Fund Information
            <% end %>
          </div> <!-- col -->

          <div class="col-12">
            <%= link_to logs_path, class: "btn btn-secondary my-3 btn-lg btn-block", style: "height: 67px" do %>
              View Website Activity Log
            <% end %>
          </div> <!-- col -->

        </div> <!-- row -->


        <div class="text-center">
          <em><%= link_to "View Historical Applications", home_applications_path, class: "color-toca-red" %></em>
        </div>

      </section> <!-- admin only -->
    <% end %>
    <!-- END ADMIN ONLY -->



  <div class="my-5">
    <h2 class="text-center toca-uppercase color-toca-red mt-5">My Messages</h2>
    <%= link_to home_messages_path, style: "display: inline-block", class: "btn btn-secondary my-0 btn-lg btn-block" do %>
      <% if @my_total_messages.count != 0 %>
        <div class="bg-toca-red notification-bubble"><%= @my_total_messages.count %></div>
      <% end %>
      View My Open Message Threads
    <% end %>
  </div>







      <% if @applications.count >= 1 %>
        <section class="my-5"> <!-- application applications -->
          <h2 class="text-center toca-uppercase color-toca-red my-4">My Applications</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class="bg-toca-red white-text">
                <tr>
                  <th scope="col">Application</th>
                  <th scope="col">Status</th>
                  <th scope="col">Final Decision</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <% @applications.each do |application| %>
                  <tr>
                    <td><%= application.application_type %> #<%= fixed_digit_number(application.id) %></td>
                    <td>
                      <%= ApplicationStatus.find(application.application_status_id).status %>
                    </td>
                    <td>
                      <% if application.final_decision %>
                        <% if application.final_decision_id == 3 %>
                          <span class="toca-uppercase color-toca-red"><%= link_to app_form_path(application) do %><%= application.final_decision.status %><% end %>
                        <% else %>
                          <%= application.final_decision.status %>
                        <% end %>
                      <% else %>
                        Not Yet Decided
                      <% end %>
                    </td>
                    <td>
                      <%= link_to "View", app_form_path(application) %>
                      <% unless application.application_status_id == 3 || application.application_status_id == 5 || application.application_status_id == 6 %>
                        &nbsp;|&nbsp;
                        <%= link_to "Edit", edit_app_form_path(application) %>
                      <% end %>
                      <% unless application.application_status_id == 5 || application.application_status_id == 6 %>
                        &nbsp;|&nbsp;
                        <%= button_to "Withdraw", withdraw_app_form_path(application), method: :post, data: { confirm: "Are you sure you want to withdraw your application?"}, class: "not-button" %>
                      <% end %>
                    </td>
                  </tr>
                <% end %> <!-- hardships each -->
              </tbody>
            </table>
          </div> <!-- responsive table -->
        </section> <!-- applications -->
      <% end %> <!-- if applications.count >= 1 -->





    <% if @user.committee == false %>
      <div class="text-center my-5">
        <% if @user.committee_request == "Requested" %>
          <p><em>You have already requested to be a member of the deciding committee.</em></p>
        <% else %>
          <p>
            <em>Want to help decide which applications get approved for a TOCA Cares grant?
            <br>Click <%= link_to "here", committee_request_path(@user), method: :post %> to request to serve as a member of the deciding committee.</em>
          </p>
        <% end %>
      </div> <!-- committee request -->
    <% end %>

  </div> <!-- container -->
</main>
