<main class="mt-3">
  <div class="container">

    <div class="row">
      <div class="text-left col">
        <% if @user.admin && @user.committee %>
          <div class="toca-uppercase color-toca-red">Admin & Committee Member</div><br>
        <% elsif @user.admin %>
          <div class="toca-uppercase color-toca-red">Admin</div><br>
        <% elsif @user.committee %>
          <div class="toca-uppercase color-toca-red">Committee Member</div><br>
        <% end %>
      </div>
      <p class="text-right col">
        <%= link_to('Edit My Information', edit_user_registration_path(current_user)) %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to('Log Out', destroy_user_session_path, method: :delete) %>
      </p>
    </div> <!-- row -->

    <h1 class="text-center">My Account</h1>

    <section>
      <p class="text-center">
        <%= @user.first_name %> <%= @user.last_name %> (<%= @user.location %>)<br>
        <%= number_to_phone(@user.phone) %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= mail_to @user.email %>
      </p>
    </section> <!-- user info -->



    <!-- IF COMMITTEE -->
    <% if @user.committee %>
      <h2 class="text-center toca-uppercase color-toca-red mt-5">Committee Member Actions</h2>
      <%= link_to home_applications_path, style: "display: inline-block", class: "btn btn-secondary my-3 btn-lg btn-block" do %>
        <% if @need_votes.count != 0 %>
          <div class="bg-toca-red notification-bubble"><%= @need_votes.count %></div>
          Applications Needing Votes
        <% end %>
      <% end %>
    <% end %>
    <!-- END COMMITTEE ONLY -->




    <!-- IF ADMIN -->
    <% if @user.admin %>

      <h2 class="text-center toca-uppercase color-toca-red mt-5">Admin Actions</h2>

      <%= link_to questions_path, class: "btn btn-secondary my-3 btn-lg btn-block" do %>
        <% if @questions.count != 0 %>
          <div class="bg-toca-red notification-bubble"><%= @questions.count %></div>
        <% end %>
        Answer Questions
      <% end %>
      <%= link_to users_path, class: "btn btn-secondary my-3 btn-lg btn-block" do %>
        <% if @committee_requests.count != 0 %>
          <div class="bg-toca-red notification-bubble"><%= @committee_requests.count %></div>
        <% end %>
        Manage Users
      <% end %>
      <%= link_to home_testimonials_path, class: "btn btn-secondary my-3 btn-lg btn-block" do %>
        <% if @testimonials.count != 0 %>
          <div class="bg-toca-red notification-bubble"><%= @testimonials.count %></div>
        <% end %>
        Manage Testimonials
      <% end %>
      <%= link_to home_applications_path, class: "btn btn-secondary my-3 btn-lg btn-block" do %>
        <% if @open_applications.count != 0 %>
          <div class="bg-toca-red notification-bubble"><%= @open_applications.count %></div>
        <% end %>
        Manage Applications
      <% end %>


    <% end %>
    <!-- END ADMIN ONLY -->



    <% if @scholarships.count >= 1 %>
      <section class="my-5"> <!-- scholarship applications -->
        <h2 class="text-center toca-uppercase color-toca-red mt-5">My Scholarship Applications</h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="bg-toca-red white-text">
              <tr>
                <th scope="col">Application</th>
                <th scope="col">Status</th>
                <th scope="col">Final Decision</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @scholarships.each do |scholarship| %>
                <tr>
                  <td>Scholarship <%= fixed_digit_number(scholarship.id) %> (<%= scholarship.user.last_name %>)</td>
                  <td>
                    <%= scholarship.status %>
                  </td>
                  <td>
                    <% if scholarship.final_decision %>
                      <%= scholarship.final_decision %>
                    <% else %>
                      Not Yet Decided
                    <% end %>
                  </td>
                  <td>
                    <%= link_to "View", scholarship_path(scholarship) %>
                    <% if scholarship.status != "Submitted to Committee" && scholarship.status != "Decision Reached" %>
                      &nbsp;|&nbsp;
                      <%= link_to "Edit", edit_scholarship_path(scholarship) %>
                    <% end %>
                    <% unless scholarship.status == "Decision Reached" %>
                      &nbsp;|&nbsp;
                      <%= button_to "Withdraw", withdraw_scholarship_path(scholarship), method: :post, data: { confirm: "Are you sure you want to withdraw your application?"}, class: "not-button" %>
                    <% end %>
                  </td>
                </tr>
              <% end %> <!-- hardships each -->
            </tbody>
          </table>
        </div> <!-- responsive table -->
      </section> <!-- scholarships -->
    <% end %> <!-- if scholarships.count >= 1 -->



    <% if @hardships.count >= 1 %>
      <section class="my-5"> <!-- hardship applications -->
        <h2 class="text-center toca-uppercase color-toca-red mt-4">My Hardship Applications</h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="bg-toca-red white-text">
              <tr>
                <th scope="col">Application</th>
                <th scope="col">Status</th>
                <th scope="col">Final Decision</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @hardships.each do |hardship| %>
                <tr>
                  <td>Hardship <%= fixed_digit_number(hardship.id) %> (<%= hardship.user.last_name %>)</td>
                  <td>
                    <%= hardship.status %>
                  </td>
                  <td>
                    <% if hardship.final_decision %>
                      <%= hardship.final_decision %>
                    <% else %>
                      Not Yet Decided
                    <% end %>
                  </td>
                  <td>
                    <%= link_to "View", hardship_path(hardship) %>
                    <% if hardship.status != "Submitted to Committee" && hardship.status != "Decision Reached" %>
                      &nbsp;|&nbsp;
                      <%= link_to "Edit", edit_hardship_path(hardship) %>
                    <% end %>
                    <% unless hardship.status == "Decision Reached" %>
                      &nbsp;|&nbsp;
                      <%= button_to "Withdraw", withdraw_hardship_path(hardship), method: :post, data: { confirm: "Are you sure you want to withdraw your application?"}, class: "not-button" %>
                    <% end %>
                  </td>
                </tr>
              <% end %> <!-- hardships each -->
            </tbody>
          </table>
        </div> <!-- responsive table -->
      </section> <!-- hardships -->
    <% end %> <!-- if hardships.count >= 1 -->



    <% if @charities.count >= 1 %>
      <section class="mt-5"> <!-- charity applications -->
        <h2 class="text-center toca-uppercase color-toca-red mt-4">My Charity Applications</h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="bg-toca-red white-text">
              <tr>
                <th scope="col">Application</th>
                <th scope="col">Status</th>
                <th scope="col">Final Decision</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @charities.each do |charity| %>
                <tr>
                  <td>Charity <%= fixed_digit_number(charity.id) %> (<%= charity.user.last_name %>)</td>
                  <td>
                    <%= charity.status %>
                  </td>
                  <td>
                    <% if charity.final_decision %>
                      <%= charity.final_decision %>
                    <% else %>
                      Not Yet Decided
                    <% end %>
                  </td>
                  <td>
                    <%= link_to "View", charity_path(charity) %>
                    <% if charity.status != "Submitted to Committee" && charity.status != "Decision Reached" %>
                      &nbsp;|&nbsp;
                      <%= link_to "Edit", edit_charity_path(charity) %>
                    <% end %>
                    <% unless charity.status == "Decision Reached" %>
                      &nbsp;|&nbsp;
                      <%= button_to "Withdraw", withdraw_charity_path(charity), method: :post, data: { confirm: "Are you sure you want to withdraw your application?"}, class: "not-button" %>
                    <% end %>
                  </td>
                </tr>
              <% end %> <!-- charities each -->
            </tbody>
          </table>
        </div> <!-- responsive table -->
      </section> <!-- charities -->
    <% end %> <!-- if charities.count >= 1 -->

    <% if @user.committee == false %>
      <div class="text-center my-5">
        <% if @user.committee_request == "Requested" %>
          <p><em>You have already requested to be a member of the deciding committee.</em></p>
        <% else %>
          <p>
            <em>Want to help decide which applications get approved for a TOCA Cares grant?
            <br>Click <%= link_to "here", committee_request_path(@user), method: :post %> to request to serve as a member of the deciding committee.</em>
          </p>
        <% end %>
      </div> <!-- committee request -->
    <% end %>

  </div> <!-- container -->
</main>
