<main class="container-fluid py-5">

  <header class="text-center">
    <h1 class="text-center">All Applications</h1>
    <p><%= link_to "Back to My Account Page", user_path(current_user) %></p>
  </header>

  <section>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead class="bg-toca-red white-text">
          <tr>
            <th scope="col">Date Created</th>
            <th scope="col">Application</th>
            <th scope="col">Applicant</th>
            <th scope="col">Amount</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <% @app_forms.each do |application| %>
            <tr>
              <td><%= application.created_at.strftime("%m/%d/%Y") %></td>
              <td><%= link_to application.application_type + " #" + application.id.to_s, app_form_path(application) %></td>
              <td><%= application.user.full_name %></td>
              <td><%= number_to_currency(application.requested_amount, unit: "$") %></td>
              <td><%= ApplicationStatus.find(application.application_status_id).status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>

</main>
