<main class="mt-5">
  <div class="container">

    <h1 class="text-center">Applications</h1>

    <section class="mt-5">
      <h2 class="toca-uppercase color-toca-red" id="open-heading"><%= pluralize(@open_applications.count, "Open Application") %></h2>
      <div id="open" class="hidden">
        <% if @open_applications.count >= 1 %>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class="bg-toca-red white-text">
                <tr>
                  <th scope="col">Application</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Voting Status</th>
                </tr>
              </thead>
              <tbody>
                <% @open_applications.each do |application| %>
                  <tr>
                    <td>
                      <% if application.application_type == "hardship" %>
                        <% if application.status == "Returned for Modifications" %>
                          <strong><%= application.application_type.capitalize %> <%= fixed_digit_number(application.id) %> (<%= application.date %>)</strong>
                        <% else %>
                          <%= link_to hardship_path(application) do %>
                            <%= application.application_type.capitalize %> <%= fixed_digit_number(application.id) %> (<%= application.date %>)
                          <% end %>
                        <% end %>
                      <% elsif application.application_type == "scholarship" %>
                        <% if application.status == "Returned for Modifications" %>
                          <strong><%= application.application_type.capitalize %> <%= fixed_digit_number(application.id) %> (<%= application.date %>)</strong>
                        <% else %>
                          <%= link_to scholarship_path(application) do %>
                            <%= application.application_type.capitalize %> <%= fixed_digit_number(application.id) %> (<%= application.date %>)
                          <% end %>
                        <% end %>
                      <% elsif application.application_type == "charity" %>
                        <% if application.status == "Returned for Modifications" %>
                          <strong><%= application.application_type.capitalize %> <%= fixed_digit_number(application.id) %> (<%= application.date %>)</strong>
                        <% else %>
                          <%= link_to charity_path(application) do %>
                            <%= application.application_type.capitalize %> <%= fixed_digit_number(application.id) %> (<%= application.date %>)
                          <% end %>
                        <% end %>
                      <% end %>
                      <br><%= application.status %> <% if application.status == "Decision Reached" %>(<%= application.final_decision %>)<% end %>
                      <% if application.funding_status == "Funding Completed" %><br><em>Funding Completed</em><% end %>
                      <% if current_user && current_user.admin && application.status == "Decision Reached" %>

                        <% if application.final_decision == "Approved" && application.funding_status != "Funding Completed" %>
                          <% if application.application_type == "hardship" %>
                            <br><%= link_to "Mark Funding Completed", funding_completed_hardship_path(application), method: :post, class: "btn btn-primary btn-sm my-2", data: { confirm: "Are you sure you want to offically mark the funding for this application as complete?" } %>
                          <% elsif application.application_type == "scholarship" %>
                            <br><%= link_to "Mark Funding Completed", funding_completed_scholarship_path(application), method: :post, class: "btn btn-primary btn-sm my-2", data: { confirm: "Are you sure you want to offically mark the funding for this application as complete?" } %>
                          <% elsif application.application_type == "charity" %>
                            <br><%= link_to "Mark Funding Completed", funding_completed_charity_path(application), method: :post, class: "btn btn-primary btn-sm my-2", data: { confirm: "Are you sure you want to offically mark the funding for this application as complete?" } %>
                          <% end %>
                        <% else %>
                          <% if application.application_type == "hardship" %>
                            <br><%= link_to "Mark as Closed", close_hardship_path(application), method: :post, class: "btn btn-primary btn-sm my-2", data: { confirm: "Are you sure you want to offically close the application?" } %>
                          <% elsif application.application_type == "scholarship" %>
                            <br><%= link_to "Mark as Closed", close_scholarship_path(application), method: :post, class: "btn btn-primary btn-sm my-2", data: { confirm: "Are you sure you want to offically close the application?" } %>
                          <% elsif application.application_type == "charity" %>
                            <br><%= link_to "Mark as Closed", close_charity_path(application), method: :post, class: "btn btn-primary btn-sm my-2", data: { confirm: "Are you sure you want to offically close the application?" } %>
                          <% end %>
                        <% end %>

                      <% end %>
                    </td>
                    <td><%= number_to_currency(application.requested_amount, unit: "$") %></td>
                    <td>
                      <% if current_user && current_user.committee %>
                        <% if application.status == "Decision Reached" %>
                          <strong>Decision Reached</strong>
                        <% elsif application.status == "Returned for Modifications" %>
                          <strong>Returned for Modifications</strong>
                        <% elsif application.status == "Withdrawn" %>
                          <strong>Application Withdrawn</strong>
                        <% elsif application.user_id == current_user.id %>
                          <strong>Your Application</strong>
                        <% elsif Vote.where(user_id: current_user.id, application_type: application.application_type, application_id: application.id).count == 0 %>
                          <% if application.application_type == "hardship" %>
                            <%= link_to "Needs Your Vote", hardship_path(application), class: "btn btn-secondary btn-sm mb-2" %>
                          <% elsif application.application_type == "scholarship" %>
                              <%= link_to "Needs Your Vote", scholarship_path(application), class: "btn btn-secondary btn-sm mb-2" %>
                          <% elsif application.application_type == "charity" %>
                              <%= link_to "Needs Your Vote", charity_path(application), class: "btn btn-secondary btn-sm mb-2" %>
                          <% end %>
                        <% else %>
                          <strong>Already Voted</strong>
                        <% end %>
                        <br>
                      <% end %>

                      <% unless application.status == "Decision Reached" || application.status == "Returned for Modifications" || application.status == "Withdrawn" %>
                        <% votes_accept = Vote.where(accept: true, application_type: application.application_type, application_id: application.id) %>
                        <% votes_modify = Vote.where(modify: true, application_type: application.application_type, application_id: application.id) %>
                        <% votes_deny = Vote.where(deny: true, application_type: application.application_type, application_id: application.id) %>

                        <%= pluralize(votes_accept.count, "Approval") %>
                        <br><%= pluralize(votes_modify.count, "Request for Modification") %>
                        <br><%= pluralize(votes_deny.count, "Rejection") %>
                      <% end %>
                    </td>
                  </tr>
                <% end %> <!-- applications each -->
              </tbody>
            </table>
          </div> <!-- responsive table -->
        <% end %> <!-- if applications.count >= 1 -->
      </div> <!-- open_applications applications container -->
    </section> <!-- undecided applications -->

    <section class="mb-5">
      <h2 class="toca-uppercase color-toca-red" id="closed-heading"><%= pluralize(@closed_applications.count, "Closed Application") %></h2>
      <div id="closed" class="hidden">
        <% if @closed_applications.count >= 1 %>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class="bg-toca-red white-text">
                <tr>
                  <th scope="col">Application</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <% @closed_applications.each do |application| %>
                  <tr>
                    <td>
                      <%= link_to hardship_path(application) do %>
                        <%= application.application_type.capitalize %> <%= fixed_digit_number(application.id) %> (<%= application.date %>)
                      <% end %>
                    </td>
                    <td><%= number_to_currency(application.requested_amount, unit: "$") %></td>
                    <td>
                      <%= application.status %>
                      (<% if application.final_decision %>
                        <%= application.final_decision %>
                      <% else %>
                        Not Decided
                      <% end %>)
                      <% if application.funding_status == "Funding Completed" %><br><em>Funding Completed</em><% end %>
                    </td>
                  </tr>
                <% end %> <!-- applications each -->
              </tbody>
            </table>
          </div> <!-- responsive table -->
        <% end %> <!-- if applications.count >= 1 -->
      </div> <!-- closed_applications applications container -->
    </section> <!-- approved applications -->


  </div> <!-- container -->
</main>


<script type="text/javascript">
  $(document).ready(function() {
    $('#open-heading').click(function() {
      $('#open').toggle();
    });
    $('#closed-heading').click(function() {
      $('#closed').toggle();
    });

  });
</script>
