<main>

  <section class="view jarallax">
    <img class="jarallax-img" src="https://tocacares.s3.us-west-1.amazonaws.com/TOCA+Cares+Hands.jpg" alt="team of hands on a soccer ball">
    <div class="mask rgba-black-light">
      <div class="container py-5 text-center justify-content-center">

        <p class="display-4 thin mb-5 color-white">
          <%= image_tag "TOCA_CARES_LOGO_FNL7.png", class: "mb-2 mt-5 mx-auto" %>
          Explore how it works and feel&nbsp;the&nbsp;love.
        </p>
        <%= link_to page_path(:info), class: "btn btn-light btn-lg mx-3", style: "display:inline-block" do %>Learn More<% end %>
        <% if current_user %>
          <%= link_to page_path(:apply), class: "btn btn-secondary btn-lg mx-3", style: "display:inline-block" do %>Get Started<% end %>
        <% else %>
          <%= link_to new_user_registration_path, class: "btn btn-secondary btn-lg mx-3", style: "display:inline-block" do %>Get Started<% end %>
        <% end %>
        <p class="bold color-white h4 py-4">
          The strength of the team is each member. <br class="d-none d-md-block">The strength of each member is&nbsp;the&nbsp;team.
          <br><em><small>―Phil Jackson</small></em>
        </p>


      </div> <!-- container -->
    </div> <!-- mask -->
  </section>




  <div class="bg-toca-red d-sm-none my-0 py-2">
    <div class="py-3 px-4 my-4 color-white text-center">
      <h2 class="bold">
        The strength of the team is each member. <br class="d-none d-md-block">The strength of each member is&nbsp;the&nbsp;team.
        <br><em><small>―Phil Jackson</small></em>
      </h2>
    </div>
  </div>



  <section class="z-depth-3-y z-100">
    <div class="container py-5">

      <p class="h2 text-center thin mb-4">
        We, the teammates and shareholders of TOCA, have established
        <%= image_tag "TOCA_CARES_LOGO_FNL5.png", style: "display: inline-block; height: 25px" %>
        to help&nbsp;each&nbsp;other.
      </p>
      <p class="h4 text-left thin">
        Our collective contributions will:
      </p>

      <ul class="text-left h4 thin">
        <li class="mb-1"><strong>Support</strong> each other in times of financial stress</li>
        <li class="mb-1">Encourage each other to further our <strong>education</strong></li>
        <li>Reach out to our local community through involvement with and giving to <strong>charity</strong></li>
      </ul>
    </div> <!-- container -->
  </section>






  <section class="view jarallax three-callout-jarallax">
    <img class="jarallax-img" src="https://tocacares.s3-us-west-1.amazonaws.com/grass.jpg" alt="grassy soccer field">
    <div class="mask rgba-black-light">
      <div class="container-fluid flex-center px-5">


       <div class="row my-3 wow fadeIn">




         <div class="col-12 col-xl-4 my-3">
           <div class="bg-white z-depth-4 w-100">
             <div class="row text-center">

               <div class="col-12 col-sm-4 col-xl-12">
                 <%= image_tag "hardship.jpg", class: "image-cover three-callout-image w-100", alt: "Young man trying to fix a broken down car." %>
                 <%= link_to page_path('apply') do %>
                     <div class="mask rgba-white-slight"></div>
                 <% end %>
               </div> <!-- image col -->

               <div class="col-12 col-sm-8 col-xl-12 my-auto card-text">
                 <h3 class="toca-uppercase pt-2">Hardship</h3>

                 <h5 class="card-quote color-toca-navy">
                   I get by with a little help from my friends.
                   <br><em><small>―Paul McCartney/John Lennon</small></em>
                 </h5>

                 <p class="pb-2 px-3 text-center">
                   Unexpected financial challenges can cause good people to go tilt.
                 </p>
                 <p class="pb-4 px-3 text-center">
                   TOCA Cares wants to provide a limited but immediate financial safety net when you face an auto repair, health care, or other unexpected challenge that you cannot afford to meet.
                 </p>

               </div> <!-- image col -->
             </div> <!-- inner row -->
           </div> <!-- bg white -->
         </div> <!-- col for white box -->





         <div class="col-12 col-xl-4 my-3">
           <div class="bg-white z-depth-4 w-100">
             <div class="row text-center">

               <div class="col-12 col-sm-4 col-xl-12">
                 <%= image_tag "scholarship.jpg", class: "image-cover three-callout-image w-100", alt: "Woman graduating from college." %>
                 <%= link_to page_path('apply') do %>
                     <div class="mask rgba-white-slight"></div>
                 <% end %>
               </div> <!-- image col -->

               <div class="col-12 col-sm-8 col-xl-12 my-auto card-text">
                 <h3 class="toca-uppercase pt-2">Scholarship</h3>

                 <h5 class="card-quote color-toca-navy">
                   Knowledge is a weapon. I&nbsp;intend to be formidably&nbsp;armed.
                   <br><em><small>―Terry Goodkind</small></em>
                 </h5>

                 <p class="pb-2 px-3 text-center">
                  We can always grow and improve. TOCA Cares will pay up to 75% of the cost of classes (including college) up to a maximum contribution per year based upon your years of service to the company.
                 </p>
                 <p class="pb-4 px-3 text-center">
                  Whether this is a class on marketing, coaching, or completing your degree, TOCA Cares wants to support you expanding your mind and honing your skills to become more productive in your role at TOCA.
                 </p>

               </div> <!-- image col -->
             </div> <!-- inner row -->
           </div> <!-- bg white -->
         </div> <!-- col for white box -->




        <div class="col-12 col-xl-4 my-3">
          <div class="bg-white z-depth-4 w-100">
            <div class="row text-center">

              <div class="col-12 col-sm-4 col-xl-12">
                <%= image_tag "charity.jpg", class: "image-cover three-callout-image w-100", alt: "Young man building a house for charity." %>
                <%= link_to page_path('apply') do %>
                    <div class="mask rgba-white-slight"></div>
                <% end %>
              </div> <!-- image col -->

              <div class="col-12 col-sm-8 col-xl-12 my-auto card-text">
                <h3 class="toca-uppercase pt-2">Charity</h3>

                <h5 class="card-quote color-toca-navy">
                  Service to others is the rent you pay for your room here on earth.
                  <br><em><small>―Mohammed Ali</small></em>
                </h5>

                <p class="pb-2 px-3 text-center">
                  Our team is going to positively impact each community we touch.  TOCA Cares wants to support your involvement in local charities.
                </p>
                <p class="pb-4 px-3 text-center">
                  If you have an idea of how to work with tax-deductible charities, TOCA Cares will pay 80% of your costs to participate (membership fee, out of pocket costs of being a Big Brother or Big Sister, etc.), or, in some cases, make direct contributions to the charity.
                </p>

              </div> <!-- image col -->
            </div> <!-- inner row -->
          </div> <!-- bg white -->
        </div> <!-- col for white box -->





       </div> <!-- row for 3 boxes -->

      </div> <!-- container -->
    </div> <!-- mask -->
  </section> <!-- jarallax -->






  <section class="container pt-5">
    <div class="text-center">
      <h2>Have a Question? Ask an admin!</h2>
      <p>
        We want all TOCA Teammates to get the most out of TOCA Cares.  If you have any questions, don't hesitate to ask.  An admin will reach out shortly with answers.
      </p>
    </div>

    <div> <!-- form -->
      <%= simple_form_for @new_question, class: "text-center py-4 mb-5" do |form| %>
          <% if @new_question.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@new_question.errors.count, "error") %> prohibited this question from being saved:</h2>

              <ul>
              <% @new_question.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="row">
            <div class="field col">
              <%= form.invisible_captcha :subtitle %>
              <%= form.text_field :name, class: "form-control mb-4", placeholder: "Your Name", required: true %>
            </div>

            <div class="field col">
              <%= form.text_field :email, class: "form-control mb-4", placeholder: "Your Email", required: true %>
            </div>
          </div> <!-- row -->

          <div class="field">
            <%= form.text_field :subject, class: "form-control mb-4", placeholder: "Subject", required: true %>
          </div>

          <div class="field">
            <%= form.text_area :body, class: "form-control mb-4", placeholder: "What's your question?", required: true %>
          </div>

          <div class="actions text-center mb-5">
            <%= form.button :submit, "Submit", class: "btn btn-primary" %>
          </div>
      <% end %>  <!-- end of form -->
    </div> <!-- form -->

  </section>


</main>




<script type="text/javascript">
  $(document).ready(function() {
     $('.card-img-top').matchHeight();
     $('.card-quote').matchHeight();
     $('.card-text').matchHeight();
      objectFitImages();
      jarallax(document.querySelectorAll('.jarallax'));
      jarallax(document.querySelectorAll('.jarallax-keep-img'), {
        keepImg: true,
      });
   });
</script>
