<main>

  <div class="card card-image" style="background-image: url(https://tocacares.s3-us-west-1.amazonaws.com/feet-around-ball.jpg);">
    <div class="text-white text-center rgba-black-strong py-5 px-4">
      <div>
        <%= image_tag "TOCA_CARES_LOGO_FNL7.png", class: "pt-5 mb-5" %>
        <div class="row justify-content-center">
          <p class="mx-5 mb-5 col-md-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
            optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit sed qui, dolorum!
          </p>
        </div> <!-- row -->
        <%= link_to page_path(:apply), class: "btn btn-secondary btn-lg" do %>Apply Now<% end %>
      </div>
    </div>
  </div>

  <div class="container">
     <section class="text-center">
       <div class="row mt-5 mb-3 wow fadeIn">

           <div class="col-lg-4 mb-4">
               <div class="card">
                   <div class="view overlay"> <!-- image -->
                       <%= image_tag "scholarship.jpg", class: "card-img-top", alt: "Woman graduating from college." %>
                       <a href="https://mdbootstrap.com/education/tech-marketing/automated-app-introduction/" target="_blank">
                           <div class="mask rgba-white-slight"></div>
                       </a>
                   </div>
                   <div class="card-body h-100">
                       <!--Title-->
                       <h4 class="card-title toca-uppercase">Scholarship</h4>
                       <!--Text-->
                       <p class="card-text">Donec blandit quam ac ante imperdiet posuere. Ut et nisi dictum nibh ornare iaculis in at elit. Phasellus vitae vulputate enim.</p>
                       <%= link_to new_scholarship_path, class: "btn btn-primary btn-lg" do %>
                          Apply Now
                       <% end %>
                     </div>
               </div> <!-- card -->
           </div> <!--Grid column-->
           <!--Grid column-->

           <div class="col-lg-4 mb-4">
               <div class="card">
                   <div class="view overlay"> <!-- image -->
                       <%= image_tag "hardship.jpg", class: "card-img-top", alt: "Young man trying to fix a broken down car." %>
                       <a href="https://mdbootstrap.com/education/tech-marketing/automated-app-introduction/" target="_blank">
                           <div class="mask rgba-white-slight"></div></a>
                   </div>
                   <div class="card-body h-100">
                       <!--Title-->
                       <h4 class="card-title toca-uppercase">Hardship</h4>
                       <!--Text-->
                       <p class="card-text">Vivamus condimentum ultrices magna, a lobortis justo tincidunt sed. Donec vitae mattis lectus.</p>
                       <%= link_to new_hardship_path, class: "btn btn-primary btn-lg" do %>
                          Apply Now
                       <% end %>
                  </div>
               </div> <!-- card -->
           </div> <!--Grid column-->

           <!--Grid column-->
           <div class="col-lg-4 mb-4">
               <div class="card">
                   <div class="view overlay"> <!-- image -->
                       <%= image_tag "charity.jpg", class: "card-img-top", alt: "Young man building a house for charity." %>
                       <a href="https://mdbootstrap.com/education/tech-marketing/automated-app-introduction/" target="_blank">
                           <div class="mask rgba-white-slight"></div>
                       </a>
                   </div>
                   <div class="card-body">
                       <!--Title-->
                       <h4 class="card-title toca-uppercase">Charity</h4>
                       <!--Text-->
                       <p class="card-text">Quisque gravida leo lorem, sit amet dignissim risus laoreet quis. Quisque ultricies magna quis volutpat porttitor. </p>
                       <%= link_to new_charity_path, class: "btn btn-primary btn-lg" do %>
                        Apply Now
                       <% end %>
                   </div>
               </div> <!-- card -->
           </div> <!--Grid column-->

      </div> <!-- row -->
    </section>

   </div> <!-- container -->
 </main>




<script type="text/javascript">
  $(document).ready(function() {
     $('.card-img-top').matchHeight();
     $('.card-text').matchHeight();
   });
</script>
