<% need_your_vote = [] %>
<% already_voted = [] %>

<% @all_undecided.each do |application| %>
  <% if application && !application.approvals.include?(current_user.id.to_s) %>
    <% need_your_vote << application %>
  <% else %>
    <% already_voted << application %>
  <% end %>
<% end %>

<main class="mt-5">
  <div class="container">

    <h1 class="text-center"><%= pluralize(@all_undecided.count, "Pending Applications") %></h1>

    <section class="mt-5">
      <h2 class="toca-uppercase color-toca-red" id="submitted-heading"><%= pluralize(need_your_vote.count, "Application") %> Need Your Vote</h2>
      <div id="undecided" class="hidden">
        <% if need_your_vote.count >= 1 %>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class="bg-toca-red white-text">
                <tr>
                  <th scope="col">Application</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <% need_your_vote.each do |application| %>
                  <% if application %>
                    <tr>
                      <td>
                        <% if application.application_type == "scholarship" %>
                          <% @modifications = Modification.where(app_type: "scholarship", app_id: application.id) %>
                          <%= link_to scholarship_path(application) do %>
                            <%= application.application_type.capitalize %> <%= fixed_digit_number(application.id) %> (<%= application.date %>)
                          <% end %>
                        <% elsif application.application_type == "hardship" %>
                          <% @modifications = Modification.where(app_type: "hardship", app_id: application.id) %>
                          <%= link_to hardship_path(application) do %>
                            <%= application.application_type.capitalize %> <%= fixed_digit_number(application.id) %> (<%= application.date %>)
                          <% end %>
                        <% elsif application.application_type == "charity" %>
                          <% @modifications = Modification.where(app_type: "charity", app_id: application.id) %>
                          <%= link_to charity_path(application) do %>
                            <%= application.application_type.capitalize %> <%= fixed_digit_number(application.id) %> (<%= application.date %>)
                          <% end %>
                        <% end %>
                      </td>
                      <td><%= number_to_currency(application.requested_amount, unit: "$") %></td>
                      <td>
                        <strong><%= application.status %></strong>
                        <br>
                        <%= pluralize(application.approvals.count, "Approval") %><br>
                        <%= pluralize(@modifications.count, "Modification") %><br>
                        <%= pluralize(application.rejections.count, "Rejection") %>
                      </td>
                    </tr>
                  <% end %> <!-- applications not nil -->
                <% end %> <!-- applications each -->
              </tbody>
            </table>
          </div> <!-- responsive table -->
        <% end %> <!-- if applications.count >= 1 -->
      </div> <!-- undecided applications container -->
    </section> <!-- undecided applications -->





    <section class="my-5">
      <h2 class="toca-uppercase color-toca-red" id="submitted-heading">You Already Voted on <%= pluralize(already_voted.count, "Application") %></h2>
      <div id="undecided" class="hidden">
        <% if already_voted.count >= 1 %>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class="bg-toca-red white-text">
                <tr>
                  <th scope="col">Application</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <% already_voted.each do |application| %>
                  <% if application %>
                    <tr>
                      <td>
                        <% if application.application_type == "scholarship" %>
                          <%= link_to scholarship_path(application) do %>
                            <%= application.application_type.capitalize %> <%= fixed_digit_number(application.id) %> (<%= application.date %>)
                          <% end %>
                        <% elsif application.application_type == "hardship" %>
                          <%= link_to hardship_path(application) do %>
                            <%= application.application_type.capitalize %> <%= fixed_digit_number(application.id) %> (<%= application.date %>)
                          <% end %>
                        <% elsif application.application_type == "charity" %>
                          <%= link_to charity_path(application) do %>
                            <%= application.application_type.capitalize %> <%= fixed_digit_number(application.id) %> (<%= application.date %>)
                          <% end %>
                        <% end %>
                      </td>
                      <td><%= number_to_currency(application.requested_amount, unit: "$") %></td>
                      <td>
                        <%= application.status %>
                        <br>
                        <%= pluralize(application.approvals.count, "Approval") %><br>
                        <%= pluralize(application.rejections.count, "Rejection") %>
                      </td>
                    </tr>
                  <% end %> <!-- applications not nil -->
                <% end %> <!-- applications each -->
              </tbody>
            </table>
          </div> <!-- responsive table -->
        <% end %> <!-- if applications.count >= 1 -->
      </div> <!-- already voted applications container -->
    </section> <!-- already voted applications -->

  </div> <!-- container -->
</main>


<script type="text/javascript">
  $(document).ready(function() {
    $('#submitted-heading').click(function() {
      $('#submitted').toggle();
    });
    $('#approved-heading').click(function() {
      $('#approved').toggle();
    });
    $('#rejected-heading').click(function() {
      $('#rejected').toggle();
    });
  });
</script>
