<main class="mt-5">
  <div class="container-fluid px-5">

    <h1 class="text-center">Apply</h1>

    <section>
      <h3 class="text-center dark-grey-text w-responsive mx-auto mb-2">
        This is not a giveaway.  We are banding together as a team to help each other in three areas of life.
      </h3>

      <a href="#process-map" class="text-center mb-5">
        <p class="h5 color-toca-red bold">See the Application Process</p>
      </a>

    </section> <!-- mission description -->


    <section class="text-center my-5">
      <div class="row">

        <div class="col-md-4 col-sm-12 mb-lg-0 mb-4"> <!-- hardship -->

          <div class="view overlay rounded z-depth-2 mb-4">
            <%= image_tag "hardship.jpg", class: "img-fluid", alt: "Young man looking at the engine of a broken down car." %>
            <%= link_to new_hardship_path do %>
              <div class="mask rgba-white-slight"></div>
            <% end %>
          </div>

          <h4 class="font-weight-bold mb-3 toca-uppercase"><strong>Life Happens</strong></h4>
          <p class="dark-grey-text text-left">
            If you have a financial hardship you can't meet, TOCA Cares may be able to help.
          </p>

          <p class="dark-grey-text text-left">
            <strong class="toca-uppercase bold">Grants</strong><br>
            TOCA Cares may be able to quickly pay up to $1,000 to prevent you from going under.
          </p>

          <p class="dark-grey-text text-left">
            <strong class="toca-uppercase bold">Need</strong><br>
            You must prove you can't handle this unexpected expense (such as a health bill, cell phone replacement, or need to attend a funeral).
          </p>

          <%= link_to "Apply Now", new_hardship_path, class: "btn btn-primary btn-lg" %>

        </div> <!-- End Hardship -->




        <div class="col-md-4 col-sm-12 mb-lg-0 mb-4"> <!-- scholarship -->

          <div class="view overlay rounded z-depth-2 mb-4">
            <%= image_tag "scholarship.jpg", class: "img-fluid", alt: "Young woman graduating from college." %>
            <%= link_to new_scholarship_path do %>
            <div class="mask rgba-white-slight"></div>
            <% end %>
          </div>

          <h4 class="font-weight-bold mb-3 toca-uppercase"><strong>Grow Your Mind</strong></h4>

          <p class="dark-grey-text text-left">
            We think education is a key to a happy and productive life.  TOCA Cares wants to invest in your future education.
          </p>

          <p class="dark-grey-text text-left">
            <strong class="toca-uppercase bold">Classes</strong><br>
            TOCA Cares will pay 80% of the cost (up to $500 per year) in the cost of a class you think will expand your mind.  It could be a class in coding, nutrition, or CPR.
          </p>

          <p class="dark-grey-text text-left">
            <strong class="toca-uppercase bold">College</strong><br>
            TOCA Cares believes in the value of a college education.  We will provide 80% of your tuition (up to $1,250 per year for employees after 6 months of employment and $2,500 per year after 2 years of employment).
          </p>

          <%= link_to "Apply Now", new_scholarship_path, class: "btn btn-primary btn-lg" %>

          </div> <!-- End scholarship -->




        <div class="col-md-4 col-sm-12 mb-lg-0 mb-4">

          <div class="view overlay rounded z-depth-2 mb-4">
            <%= image_tag "charity.jpg", class: "img-fluid", alt: "Young man building a house for charity." %>
            <%= link_to new_charity_path do %>
              <div class="mask rgba-white-slight"></div>
            <% end %>
          </div>

          <h4 class="font-weight-bold mb-3 toca-uppercase"><strong>Good Deeds Done Dirt&nbsp;Cheap</strong></h4>

          <p class="dark-grey-text text-left">
            If you want to help your local community, TOCA Cares wants to help you do it.
          </p>

          <p class="dark-grey-text text-left">
            <strong class="toca-uppercase bold">Cost Sharing</strong><br>
            TOCA Cares will pay 80% (up to $500 per year) of the costs of joining or participating in a charity serving your local community.  This is not a subsity for you giving to a charity; it is a subsity for you participating, such as the cost of joining a Rotary Club, being a Big Brother or Big Sister, or coaching a soccer team for disadvantaged kids.
          </p>

          <%= link_to "Apply Now", new_charity_path, class: "btn btn-primary btn-lg" %>

        </div> <!-- Grid column -->

      </div> <!-- Grid row -->

    </section> <!-- Section: Blog v.2 -->






    <section id="process-map" class="text-center pb-5"> <!-- process map -->
      <%= image_tag "process-map.jpg", style: "max-width: 100%; max-height: 90vh" %>
    </section> <!-- process map -->







  </div> <!-- container -->
</main>
