<main class="my-5">
  <div class="container-fluid px-5">

    <h1 class="text-center">Contribute</h1>

    <section>
      <div class="text-center mt-4">
        <h3 class="text-center dark-grey-text w-responsive mx-auto">
          None of this cool stuff can happen if we don't have contributions from employees and shareholders.
        </h3>
      </div> <!-- center for button -->
    </section> <!-- mission description -->


    <div class="row">
      <section class="col-md-6 magazine-section mt-3">
        <div class="view">
          <img src="https://tocacares.s3-us-west-1.amazonaws.com/contribute.jpg" class="img-fluid" alt="placeholder">
          <div class="mask flex-center waves-effect waves-light rgba-black-light px-5">
            <h4 class="text-center bold white-text w-responsive mx-auto">
              With a contribution as little as the cost of a cup of coffee every pay period...
            </h4>
          </div>
        </div>
      </section> <!-- mission description -->


      <section class="col-md-6 magazine-section mt-3">
        <div class="view">
          <img src="https://tocacares.s3-us-west-1.amazonaws.com/Jumping+Staff.png" class="img-fluid" alt="placeholder">
          <div class="mask flex-center waves-effect waves-light rgba-black-light px-5">
            <h4 class="text-center bold white-text w-responsive mx-auto">
              ...you can help the entire TOCA team.
            </h4>
          </div>
        </div>
      </section> <!-- mission description -->
    </div> <!-- row -->



    <section class="text-center mt-4">
      <h3 class="text-center dark-grey-text w-responsive mx-auto">
        You can contribute to the fund by check or via an automatic payroll deduction.
      </h3>

      <div class="row">
        <div class="col-sm-6">
          <section class="text-center mt-3 mb-5 py-3 h-100" style="border: thin solid black">
            <h3 class="toca-uppercase"><strong>Payroll Deduction</strong></h3>
            <h4 class="text-center dark-grey-text w-responsive mx-auto">
              Click the red button below to authorize an automatic payment (which is a charitable gift) from your paycheck to TOCA Cares.
            </h4>
            <div style="width: 100%; padding: 0 15px;">
              <%= link_to "Contribute from My Paycheck", asset_path("Insperity-Payroll-Deductions-Form.pdf"), download: "Insperity Payroll Deductions Form.pdf", class: "btn btn-primary btn-block my-3" %>
              <%= link_to "Contribute from My Paycheck (TOCA&nbsp;Impact&nbsp;Employee)".html_safe, asset_path("Payroll Deduction Form.docx"), download: "Payroll Deduction Form.docx", class: "btn btn-primary btn-block my-3" %>
            </div>
            <h4 class="text-center dark-grey-text w-responsive mx-auto">
              Please email your completed form to <%= mail_to "aadams@tocafootball.com", "aadams@tocafootball.com", target: "_blank", class: "color-toca-red" %>.
            </h4>
          </section>
        </div> <!-- col -->

        <div class="col-sm-6">
          <section class="text-center mt-3 mb-5 py-3 h-100" style="border: thin solid black">
            <h3 class="toca-uppercase"><strong>Contribute by Check</strong></h3>
            <h4 class="text-center dark-grey-text w-responsive mx-auto">
              To contribute by check, please make checks payable to <strong>ProvisionBridge</strong> and write <strong>TOCA&nbsp;Cares&nbsp;Fund&nbsp;#246175</strong> in the memo or on an enclosed note.
            </h4>
            <h4 class="text-center dark-grey-text w-responsive mx-auto">
              You can give the check to Alan Adams or mail it to the address below:
              <br>
              <br>ProvisionBridge
              <br>PO Box 157
              <br>Tallulah Falls, GA  30573
            </h4>
          </section>
        </div> <!-- col -->
      </div> <!-- row -->
    </section> <!-- mission description -->


    <div style="height: 50px; width: 100%"></div>


    <section class="text-center my-5 py-3" style="border: thin solid black">
      <h3 class="text-center w-responsive mx-auto my-5">
        Shareholders have agreed to make contributions which are a multiple of the amount contributed by emplyees.
      </h3>

      <h3 class="dark-grey-text w-responsive mx-auto mt-3 mb-5">
        <strong>For <%= @current_year %>, shareholders are matching contributions at&nbsp;a&nbsp;<%= @matching_ratio %>&nbsp;ratio.</strong>
      </h3>


      <div class="row mb-5 justify-content-center"> <!-- Horizontal Steppers -->
        <div class="col-sm-3 text-center">
          <p class="h1">
            <i class="fas fa-hand-holding-usd color-toca-red"></i>
          </p>
          <p class="h3 color-toca-green"><%= @individual_contributions %></p>
          <p class="h5">Current Individual Contributions</p>
        </div> <!-- col -->


        <div class="col-sm-1 text-center my-3">
          <p class="h1">
            <i class="fas fa-plus"></i>
          </p>
        </div> <!-- col -->


        <div class="col-sm-3 text-center">
          <p class="h1">
            <i class="fas fa-hands-helping color-toca-red"></i>
          </p>
          <p class="h3 color-toca-green"><%= @shareholder_matching %></p>
          <p class="h5">Shareholder Matching Contributions</p>
        </div> <!-- col -->


        <div class="col-sm-1 text-center my-3">
          <p class="h1">
            <i class="fas fa-equals"></i>
          </p>
        </div> <!-- col -->


        <div class="col-sm-3 text-center">
          <p class="h1">
            <i class="fas fa-dollar-sign color-toca-red"></i>
          </p>
          <p class="h3 color-toca-green"><%= @total_fund_value %></p>
          <p class="h5">Total Fund Value</p>
        </div> <!-- col -->

      </div> <!-- Fund Info Row -->

    </section> <!-- mission description -->



  </div> <!-- container -->
</main>
