<main class="mt-5">
  <div class="container">

    <h1 class="text-center">Info</h1>

    <section class="team-section magazine-section text-center">
      <div class="text-center">
        <%= image_tag "silhouette-woman-kicking.jpg", class: "img-fluid px-5", alt: "Woman kicking soccer ball.", style: "width: 100%; max-width: 600px" %>
      </div> <!-- Image Grid column -->

    </section>

    <section class="my-5 faq"> <!-- Features Section 1 -->

      <% n = 1 %>

      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <p class="h1 color-toca-red"><%= n %><% n += 1 %></p>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q1H">What is the TOCA Cares fund?</h5>
          <p class="color-dark-grey d-startHidden" id ="Q1P">
            TOCA Cares is the way TOCA employees and shareholders take care of our own.  The community fund is sustained by tax-deductible contributions voluntarily made directly from employees' and shareholders' paychecks.  Any employee can then apply for a grant or loan from the community fund if they are facing an unexpected hardship, want to pursue an educational opportunity (from taking a cooking class to getting your degree), or want to cover costs to participate in charitable work.
          </p>
        </div> <!-- Grid column -->
      </div> <!-- Grid row -->


      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <p class="h1 color-toca-red"><%= n %><% n += 1 %></p>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q2H">Why was the TOCA Cares fund created?</h5>
          <p class="color-dark-grey" id ="Q2P">
            Here at TOCA, community is important.  We know that life happens, so we want to make sure our employees have support if they find themselves in an unexpected financial jam.  We want to help our employees keep learning, even though it's sometimes costly to do so.  We want to make sure everyone in the TOCA community gets to experience the joys of giving back.  Community is important, and TOCA Cares is our way of supporting our own.
          </p>
        </div> <!-- Grid column -->
      </div> <!-- Grid row -->


      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <p class="h1 color-toca-red"><%= n %><% n += 1 %></p>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q3H">How do I donate to the fund? </h5>
          <p class="color-dark-grey mb-0" id ="Q3P">
            You can donate <%= link_to "here", page_path(:contribute) %>.  Any TOCA employees who want to contribute can select any amount they want to donate directly from their paycheck.  (You can updated your donation info any time by going to the <%= link_to "contribute", page_path(:contribute) %> section of the TOCA Cares website.)  All contributions go straight to the community fund and are completely tax-deductible.
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->


      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <p class="h1 color-toca-red"><%= n %><% n += 1 %></p>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q4H">Shareholders will match my contribution and then some?</h5>
          <p class="color-dark-grey mb-0" id ="Q4P">
            Yes! Shareholders will match your contribution to the community fund. For each $1 you give, shareholders will donate anywhere from $2 to $6.
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->


      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <p class="h1 color-toca-red"><%= n %><% n += 1 %></p>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q5H">How do I apply to use the fund?</h5>
          <p class="color-dark-grey mb-0" id ="Q5P">
            To get started, create an account on <%= link_to "TOCA Cares", new_user_session_path %> and fill out the <%= link_to "application", page_path(:apply) %>. Check out the <%= link_to "application process map", page_path(:apply, anchor: "process-map") %> for the complete application journey.
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->




      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <p class="h1 color-toca-red"><%= n %><% n += 1 %></p>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q24H">TOCA Cares will sponsor my education and cheritable endeavors?</h5>
          <p class="color-dark-grey mb-0" id ="Q24P">
            Correct! If you have not used the fund towards any hardship expenses, TOCA Cares will sponsor a charity of your choice that you’re personally involved in or contribute towards you furthering your education. See the <%= link_to "apply", page_path(:apply) %> page for more information.
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->


      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <p class="h1 color-toca-red"><%= n %><% n += 1 %></p>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q6H">Is the application anonymous?</h5>
          <p class="color-dark-grey mb-0" id ="Q6P">
            Your application is completely anonymous to those on the Decision Committee.  Once your application has been approved, your details will be released just to the people who need to know to process the payment.  There are certain exceptions where information in an application will be shared with the employee’s manager on a discrete basis.
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->



      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <p class="h1 color-toca-red"><%= n %><% n += 1 %></p>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q7H">Do I have to contribute to the fund to be able to use it?</h5>
          <p class="color-dark-grey mb-0" id ="Q7P">
            No.  All contributions are completely mandatory, but karma is a potent force.  Those who apply will be in the best position to see how important the community fund is.
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->


      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <p class="h1 color-toca-green"><%= n %><% n += 1 %></p>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q8H">Can I pull money from the fund if I don’t use it?</h5>
          <p class="color-dark-grey mb-0" id ="Q8P">
            Nope.
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->



      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <p class="h1 color-toca-red"><%= n %><% n += 1 %></p>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q10H">Which hardship situations qualify to receive money from the fund?</h5>
          <p class="color-dark-grey mb-0" id ="Q10P">
            The point of the fund is to help employees in serious and unexpected financial situtations. Examples include medical costs, car accidents, home accidents, an airplane ticket for event you can’t miss, funeral expenses, etc. If you’re not sure, it doesn’t hurt to apply. If the situation does not qualify or exceeds the maximum grant amount, you could be offered a small loan.
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->




      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <p class="h1 color-toca-red"><%= n %><% n += 1 %></p>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q11H">Are there situations that don’t qualify to receive money from the fund?</h5>
          <p class="color-dark-grey mb-0" id ="Q11P">
            Most logical unexpected hardship applications will receive funding. Situations that <em>don’t</em> qualify include funding for vacations, repeated incidents (such as the 5th broken phone), luxury items, new pets, or other forseeable expenses.
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->




      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <p class="h1 color-toca-red"><%= n %><% n += 1 %></p>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q12H">Can I take out a loan instead of receiving money?</h5>
          <p class="color-dark-grey mb-0" id ="Q12P">
            Of course.  If you’re more comfortable with receiving a loan rather than grant, you can let us know on your application. Also, if the situation exceeds the maximum grant amount, you may be offered a small loan instead of a grant. Loans will be deducted from your paycheck over a period of time.
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->




      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <p class="h1 color-toca-red"><%= n %><% n += 1 %></p>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q13H">How long do I have to request financial assistance for a hardship?</h5>
          <p class="color-dark-grey mb-0" id ="Q13P">
            Usually financial emergencies happen fairly quickly. A good rule of thumb is no later than 30 days, but if you're not sure it doesn't hurt to apply.
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->




      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <p class="h1 color-toca-red"><%= n %><% n += 1 %></p>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q14H">How fast is money available from the fund?</h5>
          <p class="color-dark-grey mb-0" id ="Q14P">
            This depends on how fast you need the money. Typically, your bill can be paid within 3-4 days. It also depends on how fast you work with our partner organization, Helping Hands.
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->




      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <p class="h1 color-toca-red"><%= n %><% n += 1 %></p>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q15H">Is there a max amount I can receive?</h5>
          <p class="color-dark-grey mb-0" id ="Q15P">
            In terms of a hardship, typical grant amounts range from $500-$1,500. Depending on the situation (especially if it exceeds this amount), you may also be offered a mixture of a grant and a loan. If your needs drastically exceed our loan amounts, then TOCA may set up an employee crowdfunding platform on your behalf and publicize it to TOCA employees across the nation. Whatever your situation, TOCA is here to help you figure it out.
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->



      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <p class="h1 color-toca-red"><%= n %><% n += 1 %></p>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q16H">How many times can I use the fund?</h5>
          <p class="color-dark-grey mb-0" id ="Q16P">
            Unless you're obviously abusing the fund, you may apply multiple times. However, after a certain amount of applications, your likelihood of being approved will start to decrease.
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->




      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <p class="h1 color-toca-red"><%= n %><% n += 1 %></p>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q17H">How often do I donate to the fund?</h5>
          <p class="color-dark-grey mb-0" id ="Q17P">
            You can choose whatever amount you wish out of your monthly paycheck.
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->




      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <p class="h1 color-toca-green"><%= n %><% n += 1 %></p>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q18H">Can I apply for the fund on another employee’s behalf?</h5>
          <p class="color-dark-grey mb-0" id ="Q18P">
            Yes! If you know one of your coworkers are struggling, you can fill out the application on their behalf.  After the initial application, communications will be between that employee and the Decision Committee.
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->




      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <p class="h1 color-toca-red"><%= n %><% n += 1 %></p>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q19H">Who makes the decision on my application?</h5>
          <p class="color-dark-grey mb-0" id ="Q19P">
            A committee of fellow employees will decide on all applications.  Their membership is secret and they are bound to keep information confidential from other employees not on the committee.
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->




      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <p class="h1 color-toca-red"><%= n %><% n += 1 %></p>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q20H">Can I apply to be on the Decision Committee?</h5>
          <p class="color-dark-grey mb-0" id ="Q20P">
            Yes! Just
            <% if current_user %>
              click the "click here to request to serve as a deciding committee member" link at the bottom of your <%= link_to "my account", user_path(current_user) %> page.
            <% else %>
              <%= link_to "create an account", new_user_registration_path %> or <%= link_to "log in", new_user_session_path %> and then click the "click here to request to serve as a deciding committee member" link at the bottom of your "my account" page.
            <% end %>
            The decision will be made by the Co-Chairman of the Board.
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->




      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <p class="h1 color-toca-red"><%= n %><% n += 1 %></p>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q21H">Are my donations to the fund tax deductible?</h5>
          <p class="color-dark-grey mb-0" id ="Q21P">
            Yes! Just make sure you itemize your deductions.
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->




      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <p class="h1 color-toca-red"><%= n %><% n += 1 %></p>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q24H">Wait, there are benefits under our insurance?</h5>
          <p class="color-dark-grey mb-0" id ="Q24P">
            Yes! There are insurance benefits completely separate from the TOCA Cares community fund. As part of your benefits, WorkLife services are available at no extra cost and are completely confidential. Depending on your need, you can be connected to a counselor, mediator, clinician, lawyer, or financial advisor.  Either call 866-402-0003 or log on to <a href="https://www.liveandworkwell.com" target="_blank">liveandworkwell.com</a> (access code: Insperity).
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->






    </section> <!-- Features Section 1 -->

  </div> <!-- container -->
</main>




<%= content_for :additional_js do %>
  <script>
    $(document).ready(function() {
      $('#A1H').click(function() {
        $('#Q1P').toggleClass("startHidden");
      });
    });
  </script>
<% end %>
