<%= form_with(model: charity, local: true, class: "text-center py-4 mb-5") do |form| %>
  <% if charity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(charity.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% charity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p class="h4 mb-0 color-toca-red toca-uppercase">Part I:  Personal Information</p>
  <p><small>This information is anonymous and will not be seen by the deciding committee.</small></p>

  <div class="field">
    <%= form.text_field :full_name, class: "form-control mb-4", placeholder: "Full Name", required: true %>
  </div>

  <div class="md-form mt-4">
    <label for="date">Date of Your Charity Application (Today's Date)</label>
    <%= form.text_field :date, placeholder: "Select Application Date", class: "form-control datepicker", id: "date" %>
  </div>

  <div class="row">
    <div class="field col">
      <%= form.text_field :position, class: "form-control mb-4", placeholder: "Position", required: true %>
    </div>

    <div class="field col">
      <%= form.text_field :branch, class: "form-control mb-4", placeholder: "TOCA Branch", required: true %>
    </div>
  </div> <!-- row -->

  <div class="md-form mt-2">
    <label for="start_date">Date You Started at TOCA</label>
    <%= form.text_field :start_date, placeholder: "Select Start Date", class: "form-control datepicker", id: "start_date" %>
  </div>

  <div class="row">
    <div class="field col">
      <%= form.text_field :email_non_toca, class: "form-control mb-4", placeholder: "Email (Non-TOCA)", required: true %>
    </div>

    <div class="field col">
      <%= form.text_field :mobile, class: "form-control mb-4", placeholder: "Mobile Phone", required: true %>
    </div>
  </div> <!-- row -->

  <div class="field">
    <%= form.text_field :address, class: "form-control mb-4", placeholder: "Your Street Address", required: true %>
  </div>

  <div class="row">
    <div class="field col-sm-5">
      <%= form.text_field :city, class: "form-control mb-4", placeholder: "City", required: true %>
    </div>

    <div class="field col-sm-3">
      <%= form.text_field :state, class: "form-control mb-4", placeholder: "State", required: true %>
    </div>

    <div class="field col-sm-4">
      <%= form.text_field :zip, class: "form-control mb-4", placeholder: "Zip Code", required: true %>
    </div>
  </div> <!-- row -->

  <div class="row">
    <div class="field col-md-4">
      <%= form.text_field :institution_name, class: "form-control mb-4", placeholder: "Name of Charity", required: true %>
    </div>

    <div class="field col-md-4">
      <%= form.text_field :institution_contact, class: "form-control mb-4", placeholder: "Full Name of Contact Person", required: true %>
    </div>

    <div class="field col-md-4">
      <%= form.text_field :institution_phone, class: "form-control mb-4", placeholder: "Contact Phone", required: true %>
    </div>
  </div> <!-- row -->

  <div class="field">
    <%= form.text_field :institution_address, class: "form-control mb-4", placeholder: "Charity's Full Address", required: true %>
  </div>


  <p class="h4 mb-0 mt-5 color-toca-red toca-uppercase">Part II:  Charitable Activity Information</p>
  <p><small>This information is not anonymous and will be seen by the deciding committee.</small></p>

  <div class="row">
    <div class="field col-md-6 text-left">
      <%= form.label "Amount Requested", class: "mb-0" %><br>
      <small>The amount you need from TOCA Cares. (Numbers only. No $ or punctuation.)</small>
      <%= form.number_field :requested_amount, step: 0.01, class: "form-control mb-4", placeholder: "Requested Amount", required: true %>
    </div>

    <div class="field col-md-6 text-left">
      <%= form.label "Amount You Can Cover", class: "mb-0" %><br>
      <small>Not included in the amount requested. (Numbers only. No $ or punctuation.)</small>
      <%= form.number_field :self_fund, step: 0.01, class: "form-control mb-4", placeholder: "Requested Amount", required: true %>
    </div>
  </div> <!-- prices row -->

  <div class="row">
    <div class="field form-check text-left mb-4">
      <%= form.check_box :loan_preferred, class: "form-check-input", id: "loan_preferred" %>
      <%= form.label "I would prefer to receive a loan than get a grant.", class: "form-check-label", for: "loan_preferred" %>
    </div>
  </div> <!-- row -->


  <div class="field">
    <%= form.text_area :opportunity_description, class: "form-control mb-4", placeholder: "Description of your charitable opportunity", required: true %>
  </div>


  <p class="h4 mb-3 mt-5 color-toca-red toca-uppercase">Part III:  Statements</p>

  <h5 class="mb-0 toca-uppercase">Statement of Intent</h5>
  <small>
    I agree that all of the information provided in this application is truthful and reflects a genuine financial hardship. In no way am I attempting to take advantage of TOCA Cares, nor my fellow employees, as this is a community fund. If it appears that I have, serious actions will be taken, jeopardizing my job at TOCA and future access to the community fund.
  </small>

  <div class="row mt-2">
    <div class="field col-sm-8 pt-4">
      <%= form.text_field :intent_signature, class: "form-control mb-4", placeholder: "Type Your Name to Represent Your Signature", required: true %>
    </div>

    <div class="md-form mt-4">
      <label for="intent_signature_date">Date</label>
      <%= form.text_field :intent_signature_date, placeholder: "Select Today's Date", class: "form-control datepicker", id: "intent_signature_date" %>
    </div>
  </div> <!-- row -->

  <h5 class="mb-0 toca-uppercase">Release Agreement</h5>
  <small>
    I agree to the release of confidential information from TOCA Cares to the Associate Emergency Fund Committee and to allow verification by Helping Hands Ministries, Inc., of information pertinent to this request, including a credit bureau report, prior to receipt of any funds.
  </small>

  <div class="row mt-2">
    <div class="field col-sm-8 pt-4">
      <%= form.text_field :release_signature, class: "form-control mb-4", placeholder: "Type Your Name to Represent Your Signature", required: true %>
    </div>

    <div class="md-form mt-4">
      <label for="release_signature_date">Date</label>
      <%= form.text_field :release_signature_date, placeholder: "Select Today's Date", class: "form-control datepicker", id: "release_signature_date" %>
    </div>
  </div> <!-- row -->


  <div class="actions">
    <%= form.button type: "submit", name: "status", value: "Application in Progress", class: "btn btn-light" do %>Save for Later<% end %>
    <%= form.button type: "submit", name: "status", value: "Submitted to Committee", class: "btn btn-primary" do %>Submit for Consideration<% end %>
  </div>

<% end %>  <!-- end of form -->



<script>
  $('.datepicker').pickadate();
</script>
