<main class="mt-5">
  <div class="container">

    <h1 class="text-center">Charity Applications</h1>

    <section class="mt-5">
      <h2 class="toca-uppercase color-toca-navy" id="submitted-heading"><%= pluralize(@undecided.count, "Undecided Application") %></h2>
      <div id="undecided" class="hidden">
        <% if @undecided.count >= 1 %>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class="bg-toca-red white-text">
                <tr>
                  <th scope="col">Application</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <% @undecided.each do |application| %>
                  <tr>
                    <td>
                      <%= link_to hardship_path(application) do %>
                        Charity <%= fixed_digit_number(application.id) %> (<%= application.date %>)
                      <% end %>
                    </td>
                    <td><%= number_to_currency(application.requested_amount, unit: "$") %></td>
                    <td>
                      <%= application.status %>
                      <br>
                      <%= pluralize(application.approvals.count, "Approval") %><br>
                      <%= pluralize(application.rejections.count, "Rejection") %>
                    </td>
                  </tr>
                <% end %> <!-- applications each -->
              </tbody>
            </table>
          </div> <!-- responsive table -->
        <% end %> <!-- if applications.count >= 1 -->
      </div> <!-- undecided applications container -->
    </section> <!-- undecided applications -->

    <section class="mt-5">
      <h2 class="toca-uppercase color-toca-navy" id="approved-heading"><%= pluralize(@approved.count, "Approved Application") %></h2>
      <div id="approved" class="hidden">
        <% if @approved.count >= 1 %>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class="bg-toca-red white-text">
                <tr>
                  <th scope="col">Application</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <% @approved.each do |application| %>
                  <tr>
                    <td>
                      <%= link_to hardship_path(application) do %>
                        Charity <%= fixed_digit_number(application.id) %> (<%= application.date %>)
                      <% end %>
                    </td>
                    <td><%= number_to_currency(application.requested_amount, unit: "$") %></td>
                    <td>
                      <%= application.status %>
                      <br>
                      <% if application.final_decision %>
                        <%= application.final_decision %>
                      <% else %>
                        Not Yet Decided
                      <% end %>
                    </td>
                  </tr>
                <% end %> <!-- applications each -->
              </tbody>
            </table>
          </div> <!-- responsive table -->
        <% end %> <!-- if applications.count >= 1 -->
      </div> <!-- approved applications container -->
    </section> <!-- approved applications -->

    <section class="my-5">
      <h2 class="toca-uppercase color-toca-navy" id="rejected-heading"><%= pluralize(@rejected.count, "Rejected Application") %></h2>
      <div id="rejected" class="hidden">
        <% if @rejected.count >= 1 %>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class="bg-toca-red white-text">
                <tr>
                  <th scope="col">Application</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <% @rejected.each do |application| %>
                  <tr>
                    <td>
                      <%= link_to hardship_path(application) do %>
                        Charity <%= fixed_digit_number(application.id) %> (<%= application.date %>)
                      <% end %>
                    </td>
                    <td><%= number_to_currency(application.requested_amount, unit: "$") %></td>
                    <td>
                      <%= application.status %>
                      <br>
                      <% if application.final_decision %>
                        <%= application.final_decision %>
                      <% else %>
                        Not Yet Decided
                      <% end %>
                    </td>
                  </tr>
                <% end %> <!-- applications each -->
              </tbody>
            </table>
          </div> <!-- responsive table -->
        <% end %> <!-- if applications.count >= 1 -->
      </div> <!-- applications container -->
    </section> <!-- rejected applications -->


  </div> <!-- container -->
</main>


<script type="text/javascript">
  $(document).ready(function() {
    $('#submitted-heading').click(function() {
      $('#submitted').toggle();
    });
    $('#approved-heading').click(function() {
      $('#approved').toggle();
    });
    $('#rejected-heading').click(function() {
      $('#rejected').toggle();
    });
  });
</script>
