<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @charity.full_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @charity.date %>
</p>

<p>
  <strong>Position:</strong>
  <%= @charity.position %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @charity.branch %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @charity.start_date %>
</p>

<p>
  <strong>Email non toca:</strong>
  <%= @charity.email_non_toca %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @charity.mobile %>
</p>

<p>
  <strong>Address:</strong>
  <%= @charity.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @charity.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @charity.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @charity.zip %>
</p>

<p>
  <strong>Institution name:</strong>
  <%= @charity.institution_name %>
</p>

<p>
  <strong>Institution contact:</strong>
  <%= @charity.institution_contact %>
</p>

<p>
  <strong>Institution phone:</strong>
  <%= @charity.institution_phone %>
</p>

<p>
  <strong>Institution address:</strong>
  <%= @charity.institution_address %>
</p>

<p>
  <strong>Requested amount:</strong>
  <%= @charity.requested_amount %>
</p>

<p>
  <strong>Self fund:</strong>
  <%= @charity.self_fund %>
</p>

<p>
  <strong>Opportunity description:</strong>
  <%= @charity.opportunity_description %>
</p>

<p>
  <strong>Intent signature:</strong>
  <%= @charity.intent_signature %>
</p>

<p>
  <strong>Intent signature date:</strong>
  <%= @charity.intent_signature_date %>
</p>

<p>
  <strong>Release signature:</strong>
  <%= @charity.release_signature %>
</p>

<p>
  <strong>Release signature date:</strong>
  <%= @charity.release_signature_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @charity.status %>
</p>

<p>
  <strong>Final decision:</strong>
  <%= @charity.final_decision %>
</p>

<p>
  <strong>Returned:</strong>
  <%= @charity.returned %>
</p>

<p>
  <strong>Approvals:</strong>
  <%= @charity.approvals %>
</p>

<p>
  <strong>Rejections:</strong>
  <%= @charity.rejections %>
</p>

<p>
  <strong>User:</strong>
  <%= @charity.user %>
</p>

<%= link_to 'Edit', edit_charity_path(@charity) %> |
<%= link_to 'Back', charities_path %>
