<main class="my-5">
  <div class="container">

    <h1 class="text-center">Application for Charity</h1>

    <p class="text-center">
      <%= @charity.status %>
      <% if @charity.returned %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        Returned for Modification
      <% end %>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= @charity.final_decision %>

      <br>

      <%= pluralize(@charity.approvals.count, "Approval") %>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= pluralize(@charity.rejections.count, "Rejection") %>
    </p>

    <% if @charity.user == current_user && (@charity.status == "Application Started" || @charity.status == "Application in Progress" || @charity.status == "Returned for Modifications" )%>
      <div class="text-center mb-4">
        <%= link_to "Edit", edit_charity_path(@charity), class: "btn btn-md btn-secondary" %>
      </div>
    <% end %>

  </div> <!-- container -->


  <% unless current_user.committee %>
    <div class="bg-toca-red mb-3 px-5 py-3">
      <div class="container">
        <h2 class="color-white toca-uppercase">Personal Information</h2>
      </div> <!-- container -->
    </div> <!-- red stripe -->

    <div class="container">
      <section class="my-4">

        <p class="text-center"><em>This section is anonymous to the reviewing committee and can only be seen by the applicant and site administrators.</em></p>

        <div class="row">
          <div class="col-md-6">
            <h4 class="bold">Applicant Information</h4>
            <p>
              <span class="bold"><%= @charity.full_name %> (<%= @charity.branch %>)</span><br>
              <em><%= @charity.position %> (Started <%= @charity.start_date %>)</em><br>
              <%= mail_to @charity.email_non_toca %><br>
              <%= number_to_phone(@charity.mobile) %><br>
              <%= @charity.address %><br>
              <%= @charity.city %>, <%= @charity.state %> &nbsp;<%= @charity.zip %>
            </p>
          </div> <!-- col-md-6 -->
          <div class="col-md-6">
            <h4 class="bold">Charity Information</h4>
            <p>
              <strong>Charity Name:</strong> <%= @charity.institution_name %><br>
              <strong>Charity Contact Person:</strong> <%= @charity.institution_contact %><br>
              <strong>Charity Phone:</strong> <%= number_to_phone(@charity.institution_phone) %><br>
              <strong>Charity Address:</strong> <%= @charity.institution_address %>
            </p>
          </div> <!-- col-md-6 -->
        </div> <!-- row -->

        <h4 class="bold">Application Information</h4>
        <p><strong>Application Date:</strong> <%= @charity.date %></p>

      </section> <!-- personal info section -->
    </div> <!-- container -->
  <% end %> <!-- hidden to committee -->

  <section class="my-4">
    <div class="bg-toca-red mb-3 px-5 py-3">
      <div class="container">
        <h2 class="color-white toca-uppercase">Charity Information</h2>
      </div> <!-- container -->
    </div> <!-- red stripe -->

    <div class="container">

      <% unless current_user && current_user.committee %>
        <p class="text-center"><em>This section is visible to the deciding committee members.</em></p>
      <% end %>

      <p><strong>Requested Amount:</strong>
        <%= number_to_currency(@charity.requested_amount, unit: "$") %>
      </p>

      <p><strong>Amount Applicant Can Self-Fund:</strong>
        <%= number_to_currency(@charity.self_fund, unit: "$") %>
      </p>

      <p>
        <%= @charity.opportunity_description %>
      </p>
    </div> <!-- container -->
  </section> <!-- charity section -->


  <% if current_user && current_user.committee && @charity.status == "Submitted to Committee" && ( @charity.final_decision == "Not Decided" || @charity.final_decision == "Modifications Requested" ) %>
    <section class="my4">
      <div class="bg-toca-red mb-3 px-5 py-3">
        <div class="container">
          <h2 class="color-white toca-uppercase">Application Actions</h2>
        </div> <!-- container -->
      </div> <!-- red stripe -->

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-sm-4">
            <%= button_to "Approve Application", approve_charity_path(@charity), method: :post, data: { confirm: "Are you sure you want to approve this application?"}, class: "btn btn-light btn-lg mx-2 my-2" %>
          </div> <!-- col -->
          <div class="col-sm-4">
            <%= button_to "Request Modification", approve_charity_path(@charity), method: :post, data: { confirm: "Are you sure you want to approve this application?"}, class: "btn btn-light btn-lg mx-2 my-2" %>
          </div> <!-- col -->
          <div class="col-sm-4">
            <%= button_to "Reject Application", reject_charity_path(@charity), method: :post, data: { confirm: "Are you sure you want to reject this application?"}, class: "btn btn-light btn-lg mx-2 my-2" %>
          </div> <!-- col -->
        </div> <!-- row -->
      </div> <!-- container -->
    </section>
  <% end %> <!-- committee only for decisions -->

</main>
