<main class="my-5">
  <div class="container">

    <h1 class="text-center">Application for Charity</h1>

    <p class="text-center">
      <%= @charity.status %>
      <% if @charity.returned %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        Returned for Modification
      <% end %>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= @charity.final_decision %>

      <br>

      <%= pluralize(@charity.approvals.count, "Approval") %>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= pluralize(@charity.rejections.count, "Rejection") %>
    </p>

    <% if @charity.user == current_user && (@charity.status == "Application Started" || @charity.status == "Application in Progress" || @charity.status == "Returned for Modifications" )%>
      <div class="text-center mb-4">
        <%= link_to "Edit", edit_charity_path(@charity), class: "btn btn-md btn-secondary" %>
      </div>
    <% end %>

  </div> <!-- container -->


  <% unless current_user.committee && current_user != @charity.user %>
    <div class="bg-toca-red mb-3 px-5 py-3">
      <div class="container">
        <h2 class="color-white toca-uppercase">Personal Information</h2>
      </div> <!-- container -->
    </div> <!-- red stripe -->

    <div class="container">
      <section class="my-4">

        <p class="text-center"><em>This section is anonymous to the reviewing committee and can only be seen by the applicant and site administrators.</em></p>

        <div class="row">
          <div class="col-md-6">
            <h4 class="bold">Applicant Information</h4>
            <p>
              <span class="bold"><%= @charity.full_name %> (<%= @charity.branch %>)</span><br>
              <em><%= @charity.position %> (Started <%= @charity.start_date %>)</em><br>
              <%= mail_to @charity.email_non_toca %><br>
              <%= number_to_phone(@charity.mobile) %><br>
              <%= @charity.address %><br>
              <%= @charity.city %>, <%= @charity.state %> &nbsp;<%= @charity.zip %>
            </p>
          </div> <!-- col-md-6 -->
          <div class="col-md-6">
            <h4 class="bold">Charity Information</h4>
            <p>
              <strong>Charity Name:</strong> <%= @charity.institution_name %><br>
              <strong>Charity Contact Person:</strong> <%= @charity.institution_contact %><br>
              <strong>Charity Phone:</strong> <%= number_to_phone(@charity.institution_phone) %><br>
              <strong>Charity Address:</strong> <%= @charity.institution_address %>
            </p>
          </div> <!-- col-md-6 -->
        </div> <!-- row -->

        <h4 class="bold">Application Information</h4>
        <p><strong>Application Date:</strong> <%= @charity.date %></p>

      </section> <!-- personal info section -->
    </div> <!-- container -->
  <% end %> <!-- hidden to committee -->

  <section class="my-4">
    <div class="bg-toca-red mb-3 px-5 py-3">
      <div class="container">
        <h2 class="color-white toca-uppercase">Charity Information</h2>
      </div> <!-- container -->
    </div> <!-- red stripe -->

    <div class="container">

      <% unless current_user && current_user.committee && current_user != @charity.user %>
        <p class="text-center"><em>This section is visible to the deciding committee members.</em></p>
      <% end %>

      <p><strong>Requested Amount:</strong>
        <%= number_to_currency(@charity.requested_amount, unit: "$") %>
      </p>

      <p><strong>Amount Applicant Can Self-Fund:</strong>
        <%= number_to_currency(@charity.self_fund, unit: "$") %>
      </p>

      <p>
        <%= @charity.opportunity_description %>
      </p>

      <% if @charity.loan_preferred %>
        <p class="bold">This applicant would prefer to receive a loan instead of a grant.</p>
      <% end %>

    </div> <!-- container -->
  </section> <!-- charity section -->



  <% if current_user && @charity.user && @charity.status == "Returned for Modifications" %>
    <section class="my-4 pb-5">
      <div class="bg-toca-red mb-3 px-5 py-3">
        <div class="container">
          <h2 class="color-white toca-uppercase">Requested Modifications</h2>
        </div> <!-- container -->
      </div> <!-- red stripe -->

      <div class="container">
        <% @modifications.each do |m| %>
          <p><%= m.body %></p>
        <% end %>
        <div class="text-center">
          <%= link_to "Modify My Application Now", edit_charity_path(@charity), class: "btn btn-md btn-secondary" %>
        </div>
      </div> <!-- container -->
    </section>
  <% end %> <!-- committee only for decisions -->





  <% if current_user && current_user.committee && @charity.status == "Submitted to Committee" && ( @charity.final_decision == "Not Decided" || @charity.final_decision == "Modifications Requested" ) %>
    <section class="my4">
      <div class="bg-toca-red mb-3 px-5 py-3">
        <div class="container">
          <h2 class="color-white toca-uppercase">Application Actions</h2>
        </div> <!-- container -->
      </div> <!-- red stripe -->

      <% if @modifications.count > 0 %>
        <div class="container py-3">
          <h3 class="toca-uppercase color-toca-red">Proposed Modifications</h3>
          <p class="color-dark-grey"><em>
            Seconding a proposed modification will remove this application from consideration and send it back to the applicant for revision.
          </em></p>
            <% @modifications.each do |m| %>
              <div>
                <% if m.user_id == current_user.id %>
                  <%= button_to "Your Own Modification", second_modification_path(m), class: "btn btn-sm mr-3 btn-light" %>
                <% else %>
                  <%= button_to "Second This Modification", second_modification_path(m), class: "btn btn-sm mr-3 btn-secondary" %>
                <% end %>
                <%= m.body %>
              </div>
            <% end %>
        </div> <!-- container -->
      <% end %>

      <div class="container">
        <h3 class="toca-uppercase color-toca-red">Other Actions</h3>
        <div class="row justify-content-center">
          <div class="col-sm-4">
            <%= button_to "Approve Application", approve_charity_path(@charity), method: :post, data: { confirm: "Are you sure you want to approve this application?"}, class: "btn btn-secondary btn-lg mx-2 my-2" %>
          </div> <!-- col -->
          <div class="col-sm-4">
            <button type="button" class="btn btn-secondary btn-lg mx-2 my-2" data-toggle="modal" data-target="#newModificationModal">
              Suggest Modification
            </button>
          </div> <!-- col -->
          <div class="col-sm-4">
            <%= button_to "Reject Application", reject_charity_path(@charity), method: :post, data: { confirm: "Are you sure you want to reject this application?"}, class: "btn btn-secondary btn-lg mx-2 my-2" %>
          </div> <!-- col -->
        </div> <!-- row -->
      </div> <!-- container -->
    </section>
  <% end %> <!-- committee only for decisions -->

</main>








<!-- Central Modal Small -->
<div class="modal fade" id="newModificationModal" tabindex="-1" role="dialog" aria-labelledby="newModificationModal"
  aria-hidden="true">

  <!-- Change class .modal-sm to change the size of the modal -->
  <div class="modal-dialog modal-lg" role="document">


    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Suggest a Modification</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for @new_modification, class: "text-center py-4 mb-5" do |form| %>
        <div class="modal-body">
          <% if @new_modification.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@new_modification.errors.count, "error") %> prohibited this modification from being saved:</h2>

              <ul>
              <% @new_modification.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= form.text_area :body, class: "form-control mb-4", placeholder: "What does the applicant need to change in their application?", required: true %>

            <%= form.hidden_field :app_type, value: "charity" %>
            <%= form.hidden_field :app_id, value: @charity.id %>
          </div>


      </div>
      <div class="modal-footer">
        <div class="actions">
          <%= form.button :submit, "Submit Modification", class: "btn btn-primary" %>
        </div>
      </div>
      <% end %>  <!-- end of form -->
    </div>
  </div>
</div>
<!-- Central Modal Small -->
