<main class="mt-5">
  <div class="container">

    <h1 class="text-center">Sign In</h1>

    <section>
      <h3 class="text-center dark-grey-text w-responsive mx-auto mb-5">
        Teamwork is the fuel that allows common people to attain uncommon results.
        <br><em><small>―Andrew Carnegie</small></em>
      </h3>
    </section> <!-- mission description -->

    <div class="row justify-content-md-center">
      <div class="text-center col-md-8 border border-light px-5 pt-5 pb-2">

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :email,
                          required: true,
                          autofocus: true,
                          label: false,
                          input_html: { autocomplete: "email",
                            id: "defaultRegisterFormEmail",
                            class: "form-control mb-4",
                            placeholder: 'Email Address'} %>
                <%= f.input :password,
                          required: true,
                          label: false,
                          input_html: { autocomplete: "current-password",
                            id: "defaultRegisterPhonePassword",
                            class: "form-control",
                            placeholder: 'Password (required)'} %>

                <div class="my-3 text-center field form-check text-left">
                  <%= f.check_box :remember_me, class: "form-check-input", id: "remember_me" %>
                  <%= f.label :remember_me, class: "form-check-label", for: "remember_me" %>
                </div>
              </div> <!-- form-inputs -->

              <div class="form-actions">
                <%= f.button :submit, "Sign In", class: "btn btn-primary mb-4 btn-block" %>
              </div>

              <!-- Information below button -->
              <p>
                  <%= render "devise/shared/links" %>
              </p>

            <% end %>
        </div> <!-- form border column -->
      </div> <!-- row -->

  </div> <!-- container -->
</main>
