<main class="my-5 container-fluid px-5">

  <header class="text-center pb-5">
    <h1>All Applications</h1>
  </header>



  <section id="application-sorter">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs md-tabs nav-justified bg-toca-red" role="tablist">
      <li class="nav-item">
        <a class="nav-link active color-white" data-toggle="tab" href="#open-apps" role="tab">
          Open Applications (<%= @all_open.count %>)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link color-white" data-toggle="tab" href="#closed-apps" role="tab">
          Closed Applications (<%= @all_closed.count %>)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link color-white" data-toggle="tab" href="#apps-by-user" role="tab">
          Applications by User (<%= @app_forms.count %>)</a>
      </li>
    </ul>
    <!-- Nav tabs -->

    <!-- Tab panels -->
    <div class="tab-content">




      <!-- Panel 1 -->
      <div class="tab-pane fade in show active" id="open-apps" role="tabpanel">

        <!-- Nav tabs -->
        <div class="row">
          <div class="col-md-3">
            <ul class="nav md-pills pills-primary flex-column" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#all-apps" role="tab">
                  All Open Apps (<%= @open.count %>)
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#active-apps" role="tab">
                  Active and Undecided (<%= @active.count %>)
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#returned-for-modifications" role="tab">
                  Returned for Modifications (<%= @returned_for_modifications.count %>)
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#abandoned-apps" role="tab">
                  Inactive for 30+ Days (<%= @abandoned.count %>)
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#dedided-apps" role="tab">
                  Decision Reached (<%= @decided.count %>)
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-9">
            <!-- Tab panels -->
            <div class="tab-content vertical">

              <!-- Panel 0 -->
              <div class="tab-pane fade in show active" id="all-apps" role="tabpanel">
                <% @open.each do |app| %>
                  <%= render partial: "app_forms/app_line", locals: {application: app} %>
                <% end %>
              </div>
              <!-- Panel 0 -->

              <!-- Panel 1 -->
              <div class="tab-pane fade" id="active-apps" role="tabpanel">
                <% @active.each do |app| %>
                  <%= render partial: "app_forms/app_line", locals: {application: app} %>
                <% end %>
              </div>
              <!-- Panel 1 -->

              <!-- Panel 2 -->
              <div class="tab-pane fade" id="returned-for-modifications" role="tabpanel">
                <% @returned_for_modifications.each do |app| %>
                  <%= render partial: "app_forms/app_line", locals: {application: app} %>
                <% end %>
              </div>
              <!-- Panel 2 -->

              <!-- Panel 3 -->
              <div class="tab-pane fade" id="abandoned-apps" role="tabpanel">
                <% @abandoned.each do |app| %>
                  <%= render partial: "app_forms/app_line", locals: {application: app} %>
                <% end %>
              </div>
              <!-- Panel 3 -->

              <!-- Panel 4 -->
              <div class="tab-pane fade" id="dedided-apps" role="tabpanel">
                <% @decided.each do |app| %>
                  <%= render partial: "app_forms/app_line", locals: {application: app} %>
                <% end %>
              </div>
              <!-- Panel 4 -->

            </div>
          </div>
        </div>
        <!-- Nav tabs -->

      </div> <!-- Panel 1 -->





      <!-- Panel 2 -->
      <div class="tab-pane fade" id="closed-apps" role="tabpanel">

        <!-- Nav tabs -->
        <div class="row">
          <div class="col-md-3">
            <ul class="nav md-pills pills-primary flex-column" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#funded-and-closed" role="tab">
                  Funded (<%= @funded_and_closed.count %>)
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#declined-and-closed" role="tab">
                  Declined (<%= @declined_and_closed.count %>)
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#abandoned-and-closed" role="tab">
                  Abandoned (<%= @abandoned_and_closed.count %>)
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-9">
            <!-- Tab panels -->
            <div class="tab-content vertical">

              <!-- Panel 1 -->
              <div class="tab-pane fade in show active" id="funded-and-closed" role="tabpanel">
                <% @funded_and_closed.each do |app| %>
                  <%= render partial: "app_forms/app_line", locals: {application: app} %>
                <% end %>
              </div>
              <!-- Panel 1 -->

              <!-- Panel 2 -->
              <div class="tab-pane fade" id="declined-and-closed" role="tabpanel">
                <% @declined_and_closed.each do |app| %>
                  <%= render partial: "app_forms/app_line", locals: {application: app} %>
                <% end %>
              </div>
              <!-- Panel 2 -->

              <!-- Panel 3 -->
              <div class="tab-pane fade" id="abandoned-and-closed" role="tabpanel">
                <% @abandoned_and_closed.each do |app| %>
                  <%= render partial: "app_forms/app_line", locals: {application: app} %>
                <% end %>
              </div>
              <!-- Panel 3 -->

            </div>
          </div>
        </div>
        <!-- Nav tabs -->


      </div> <!-- Panel 2 -->



      <!-- Panel 3 -->
      <div class="tab-pane fade" id="apps-by-user" role="tabpanel">

        <!-- Nav tabs -->
        <div class="row">
          <div class="col-md-4 col-lg-3">
            <ul class="nav md-pills pills-primary flex-column" role="tablist">

              <% @users_with_apps = [] %>
              <% AppForm.all.order("created_at DESC").each do |app| %>
                <% unless @users_with_apps.include? User.find(app.user_id) %>
                  <% @users_with_apps << User.find(app.user_id) %>
                <% end %>
              <% end %>

              <% @users_with_apps.each do |user| %>

                <% apps = [] %>
                <% AppForm.all.order("created_at DESC").each do |app| %>
                  <% if app.user_id == user.id %>
                    <% apps << AppForm.find(app.id) %>
                  <% end %>
                <% end %>

                <li class="nav-item">
                  <a class="nav-link" id="panel-<%= user.id %>-tab" data-toggle="tab" href="#panel-<%= user.id %>" role="tab" aria-controls="panel-<%= user.id %>">
                    User #<%= fixed_digit_number(user.id) %> (<%= apps.count %>)
                  </a>
                </li>
              <% end %>

            </ul>
          </div>
          <div class="col-md-8 col-lg-9">
            <!-- Tab panels -->
            <div class="tab-content vertical">

              <% @users_with_apps.each do |user| %>

                <% apps = [] %>
                <% AppForm.all.order("created_at DESC").each do |app| %>
                  <% if app.user_id == user.id %>
                    <% apps << AppForm.find(app.id) %>
                  <% end %>
                <% end %>

                <!-- Panel 1 -->
                <div class="tab-pane fade" id="panel-<%= user.id %>" role="tabpanel" aria-labelledby="panel-<%= user.id %>-tab">
                  <% apps.each do |app| %>
                    <%= render partial: "app_forms/app_line", locals: {application: app} %>
                  <% end %>
                </div>
                <!-- Panel 1 -->
              <% end %>

            </div> <!-- tab content -->
          </div> <!-- col -->
        </div> <!-- row -->
        <!-- Nav tabs -->

      </div> <!-- Panel 3 -->



    </div> <!-- Tab panels -->
  </section> <!-- application-sorter -->




  <section>
  </section> <!--  -->

</main>
