<main class="pb-5 container-fluid px-5" id="app-form-show">

  <header class="text-right py-3">
    <%= link_to "Back to Application Manager", app_forms_path, class: "color-toca-red" %>
  </header>



  <header class="text-center">
    <h1>
      Application #<%= fixed_digit_number(@app_form.id) %>
    </h1>
  </header>


  <div class="row">
    <div class="col-12 col-lg-3 mt-4">
      <section id="application-info" class="z-depth-3 h-100">
        <div class="bg-toca-green pb-3 py-3 text-center">
          <h2 class="toca-uppercase m-0 p-0">Messages</h2>
        </div>
        <div class="bg-white p-3">


          <!-- NEW MESSAGES -->
          <% if current_user && ( current_user.admin || current_user.committee ) %>
            <p>If you have a question about this application, you can send the applicant a message here.</p>
          <% else %>
            <p>If you have a question about your application, you can message an admin here.</p>
          <% end %>
          <div class="text-center"><%= link_to "Send a Message", new_message_path(ref_application_type: "AppForm", ref_application_id: @app_form.id, user_id: @app_form.user.id), class: "btn btn-primary mt-3 mb-4 btn-lg" %></div>


          <!-- EXISTING MESSAGES  -->
          <% if @messages.count > 0 %>
            <hr>
            <h3 class="toca-uppercase color-toca-red mb-0">Existing Messages</h3>
            <p class="mb-2"><small>Click a message to see the conversation thread.</small></p>
            <ul>
              <% @messages.each do |message| %>
                <li>
                  <%= link_to message.subject + " (" + pluralize(Response.where(message_id: message.id).count, "Response") + ")", message_path(message.id) %>
                  <% if !message.user.admin && !message.user.committee %> (From Applicant<% if message.issue_closed %>, Issue Closed by Admin<% end %>)<% end %>
                </li>
              <% end %>
            </ul>
          <% end %>

        </div>
      </section>
    </div> <!-- col -->






    <div class="col-12 col-lg-6">

      <section id="application-info" class="z-depth-3 my-4">
        <div class="bg-toca-red color-white pb-3 py-3 text-center">
          <h2 class="toca-uppercase m-0 p-0">Information & Status</h2>
        </div>
        <div class="bg-white p-3">
          <div class="row">
            <div class="col-12 text-center toca-uppercase color-toca-red">
              <h3>
                <% if @app_form.approved %>Approved&nbsp;&nbsp;|&nbsp;&nbsp;<% end %>
                <% if @app_form.denied %>Denied&nbsp;&nbsp;|&nbsp;&nbsp;<% end %>
                <% if @app_form.returned %>Returned&nbsp;&nbsp;|&nbsp;&nbsp;<% end %>
                <% if @app_form.closed %>Application Closed<% else %>Open Application<% end %>
              </h3>
            </div> <!-- col -->
            <div class="col-12 col-sm-6">
              <p>Applicant: <strong>Member #<%= fixed_digit_number(@app_form.user_id) %></strong></p>
              <p>Status:  <strong><%= @app_form.application_status.status %></strong></p>
            </div> <!-- col -->
            <div class="col-12 col-sm-6">
              <p>Final Decision:  <strong><%= @app_form.final_decision.status %></strong></p>
              <p>Funding Status:  <strong><%= @app_form.funding_status.status %></strong></p>
            </div> <!-- col -->
          </div> <!-- row -->
        </div> <!-- bg-white -->
      </section> <!-- info & status -->



      <% unless current_user.committee && @app_form.user_id != current_user.id %>
        <section id="applicant-info" class="z-depth-3 my-4">
          <div class="bg-toca-red color-white pb-3 py-3 text-center">
            <h2 class="toca-uppercase m-0 p-0">Applicant Information</h2>
            <p class="m-0 p-0">This section is anonymous and is not visible to the deciding committee.</p>
          </div>
          <div class="bg-white p-3">
            <div class="row">
              <div class="col-12 text-center">
                <p>
                  Submitted by <strong><%= @app_form.full_name %></strong><% if @app_form.date %> on <strong><%= @app_form.date.strftime("%m/%d/%Y") %><% end %></strong><br>
                  <strong><%= @app_form.position %></strong> at <strong><%= @app_form.branch %></strong><% if @app_form.start_date %> (since <strong><%= @app_form.start_date.strftime("%m/%d/%Y") %>)<% end %></strong>
                </p>
              </div> <!-- col -->
              <div class="col-12 col-sm-6">
                <p>Email: <strong><%= @app_form.email_non_toca %></strong></p>
                <p>Mobile: <strong><%= @app_form.mobile %></strong></p>
              </div> <!-- col -->
              <div class="col-12 col-sm-6">
                <p>
                  Address:<br>
                  <strong>
                    <%= @app_form.address %><br>
                    <%= @app_form.city %>, <%= @app_form.state %> &nbsp;<%= @app_form.zip %>
                  </strong>
                </p>
              </div> <!-- col -->
            </div> <!-- row -->
          </div> <!-- bg-white -->
        </section> <!-- applicant info -->



        <% if @app_form.for_other %>
          <section id="application-info" class="z-depth-3 my-4">
            <div class="bg-toca-red color-white pb-3 py-3 text-center">
              <h2 class="toca-uppercase m-0 p-0">Recipient Information</h2>
              <p class="m-0 p-0">This application was submitted by one employee on the behalf of another.</p>
            </div>
            <div class="bg-white p-3">
              <div class="row">
                <div class="col-12 col-sm-6">
                  Submitting Member Email: <strong><%= @app_form.for_other_email %></strong>
                </div> <!-- col -->
                <div class="col-12 col-sm-6">
                  Recipient TOCA Email: <strong><%= @app_form.recipient_toca_email %></strong>
                </div> <!-- col -->
              </div> <!-- row -->
            </div> <!-- bg-white -->
          </section>
        <% end %>
      <% end %> <!-- invisible to committee -->


      <section id="financial-info" class="z-depth-3 my-4">
        <div class="bg-toca-red color-white pb-3 py-3 text-center">
          <h2 class="toca-uppercase m-0 p-0">Financial Information</h2>
        </div>
        <div class="bg-white p-3">
          <div class="row">
            <div class="col-12 col-sm-6">
              <p class="mb-0">Requested Amount: <strong><%= number_to_currency(@app_form.requested_amount, unit: "$") %></strong></p>
            </div> <!-- col -->
            <div class="col-12 col-sm-6">
              <p class="mb-0">Can Self-Fund: <strong><%= number_to_currency(@app_form.self_fund, unit: "$") %></strong></p>
            </div> <!-- col -->
            <div class="col-12">
              <% if @app_form.loan_preferred %>
                <p>This applicant would prefer a loan.</p>
                <% if @app_form.loan_preferred_description %><p>Loan Description: <strong><%= @app_form.loan_preferred_description %></strong></p><% end %>
              <% end %>
            </div> <!-- col -->
            <hr class="text-center w-50">
            <div class="col-12">
              <% if @app_form.application_type == "Hardship" %>
                Bank Name: <strong><%= @app_form.bank_name %></strong><br>
                Phone: <strong><%= @app_form.bank_phone %></strong><br>
                Address: <strong><%= @app_form.bank_address %></strong>
              <% else %>
                <strong><%= @app_form.institution_name %></strong><br>
                Contact: <strong><%= @app_form.institution_contact %></strong><br>
                Phone: <strong><%= @app_form.institution_phone %></strong><br>
                Address: <strong><%= @app_form.institution_address %></strong>
              <% end %>
            </div> <!-- col -->
          </div> <!-- row -->
        </div> <!-- bg-white -->
      </section>



      <section id="situation-info" class="z-depth-3 mt-4">
        <div class="bg-toca-red color-white pb-3 py-3 text-center">
          <h2 class="toca-uppercase m-0 p-0">Application Details</h2>
        </div>
        <div class="bg-white p-3">
          <div class="row">
            <div class="col-12">
              <p><strong><%= @app_form.description %></strong></p>
              <% if @app_form.application_type == "Hardship" %>
                <% category_array = [] %>

                <% if @app_form.accident %>
                  <% category_array << "Accident" %>
                <% end %>
                <% if @app_form.catastrophe %>
                  <% category_array << "Catastrophic Event" %>
                <% end %>
                <% if @app_form.counseling %>
                  <% category_array << "Counseling" %>
                <% end %>
                <% if @app_form.family_emergency %>
                  <% category_array << "Family Emergency" %>
                <% end %>
                <% if @app_form.health %>
                  <% category_array << "Health/Medical" %>
                <% end %>
                <% if @app_form.memorial %>
                  <% category_array << "Memorial (Expenses Associated with Loss)" %>
                <% end %>
                <% if @app_form.other_hardship %>
                  <% category_array << "Other Hardship: " + @app_form.other_hardship_description %>
                <% end %>

                <p><strong>Hardship Categories: </strong><%= category_array.join(', ') %></p>
              <% end %>
            </div> <!-- col -->

            <div class="col-12">
              <% if @seconded_vote && @seconded_vote.modifications_accepted_by_applicant %>
                <h3 class="color-toca-red toca-uppercase">Modifications (Agreed to by Applicant):</h3>
                <p><strong><%= @seconded_vote.modification %></strong></p>
                <% if @seconded_vote.suggest_loan %><p><strong>Loan Suggested:  </strong><%= @seconded_vote.describe_loan %><% end %>
              <% end %>
            </div> <!-- col -->

          </div> <!-- row -->
        </div> <!-- bg-white -->
      </section>

    </div> <!-- col -->








    <div class="col-12 col-lg-3 mt-4">
      <section id="application-decision" class="z-depth-3 h-100">
        <div class="bg-toca-green pb-3 py-3 text-center">
          <h2 class="toca-uppercase m-0 p-0">Decision</h2>
        </div>
        <div class="bg-white p-3">
          <div class="row">
            <div class="col-12">

              <% if current_user.id == @app_form.user_id %>


                <% if @app_form.application_status_id == 1 || @app_form.application_status_id == 2 || @app_form.application_status_id == 3 %>
                  This application has not been decided on yet.
                <% elsif @app_form.application_status_id == 4 %>

                  <h3 class="color-toca-red toca-uppercase">Requested Changes</h3>
                  <% @votes.each do |v| %>
                    <p><strong><%= v.modification %></strong></p>
                    <% if v.suggest_loan %><p><strong>Loan Suggested:  </strong><%= v.describe_loan %><% end %>
                  <% end %>
                  <% if current_user == @app_form.user %>
                    <div class="text-center">
                      <%= link_to "Accept Proposed Modifications", accept_modifications_path(@seconded_vote.id), method: :post, class: "btn btn-md btn-secondary", style: "display: inline-block" %>
                      <%= link_to "Change My Application", edit_app_form_path(@app_form), class: "btn btn-md btn-secondary" %>
                    </div>
                  <% end %>

                <% elsif @app_form.application_status_id == 5 %>
                  This application has been <%= FinalDecision.find(@app_form.final_decision_id).status.downcase %>.
                  <% if @seconded_vote && @seconded_vote.modifications_accepted_by_applicant %>
                    <h3 class="color-toca-red toca-uppercase">Modifications (Agreed to by Applicant):</h3>
                    <p><strong><%= @seconded_vote.modification %></strong></p>
                    <% if @seconded_vote.suggest_loan %><p><strong>Loan Suggested:  </strong><%= @seconded_vote.describe_loan %><% end %>
                  <% end %>
                <% elsif @app_form.application_status_id == 6 %>
                  This application has been withdrawn by the applicant.
                <% end %>


              <% elsif @app_form.application_status_id == 4 %> <!-- Returned with Modifications -->

                  <h3 class="toca-uppercase color-toca-red">Returned with Changes</h3>
                  <p class="color-dark-grey">
                    This application has been returned to the applicant with the following suggested modifications:
                  </p>
                  <p><strong>
                    <%= @seconded_vote.modification %>
                  </strong></p>
                  <% if @seconded_vote.suggest_loan %><p><strong>Loan Suggested:  </strong><%= @seconded_vote.describe_loan %><% end %>
                  <p class="color-dark-grey">
                    The applicant can accept the modifications or edit the application and resubmit it for committee consideration again.
                  </p>

              <% elsif @app_form.application_status_id == 5 %> <!-- Decision Reached -->

                <h3 class="toca-uppercase color-toca-red">Application Decision</h3>
                <p class="color-dark-grey">
                  <%= FinalDecision.find(@app_form.final_decision_id).status %>
                </p>


              <% else %>



              <% if Vote.where(application_id: @app_form.id, user_id: current_user.id).count == 0 %>
                <button type="button" class="btn btn-primary my-3 btn-lg btn-block" data-toggle="modal" data-target="#newVoteModal">
                  Vote on This Application
                </button>
              <% end %>

                <% if @votes.count > 0 %>
                  <h3 class="toca-uppercase color-toca-red">Existing Votes</h3>
                  <p class="color-dark-grey">
                    Seconding a proposed vote will remove this application from consideration and send it back to the applicant for revision.
                  </p>
                  <% @votes.each do |vote| %>
                    <div class="col-12 col-xl-3">
                        <% if vote.user_id == current_user.id %>
                          <button type="button" class="btn btn-sm mr-3 btn-light" data-toggle="modal" data-target="#editVoteModal-<%= vote.id %>">
                            Change My Vote
                          </button>
                          <%= render partial: "app_forms/vote_modal", locals: { vote: vote } %>
                        <% else %>
                          <%= button_to "Second This Vote", second_vote_path(vote), class: "btn btn-sm mr-3 btn-secondary" %>
                        <% end %>
                      </div>
                      <div class="col-12 col-xl-9">
                        <% if vote.accept %>
                          <strong>Approve As Is</strong>
                        <% elsif vote.modify %>
                          <strong>Request Modifications</strong>
                          <br><%= vote.modification %>
                          <% if vote.suggest_loan %>
                            <br>Loan Suggested: <%= vote.describe_loan %>
                          <% end %>
                        <% elsif vote.deny %>
                          <strong>Deny Application</strong>
                          <% denial_reasons_array = [] %>
                          <% if vote.denial_fund_overuse %>
                            <% denial_reasons_array << "Overuse of Fund/Not Enough Time Between Applications" %>
                          <% end %>
                          <% if vote.denial_not_qualify %>
                            <% denial_reasons_array << "Need Doesn't Qualify" %>
                          <% end %>
                          <% if vote.denial_unreasonable_request %>
                            <% denial_reasons_array << "Unreasonable Request" %>
                          <% end %>
                          <% if vote.denial_other %>
                            <% denial_reasons_array << "Other: " + vote.denial_other_description %>
                          <% end %>
                          <br><%= denial_reasons_array.join("<br>").html_safe %>
                        <% end %>
                    <div>
                  <% end %>
                <% else %>
                  <p class="text-center">This application doesn't have any votes yet.</p>
                <% end %>


              <% end %>

            </div> <!-- col -->
          </div> <!-- row -->
        </div> <!-- bg-white -->
      </section>

    </div> <!-- col -->

  </div> <!-- row -->


</main>














<!-- NEW VOTE MODAL -->
<div class="modal fade" id="newVoteModal" tabindex="-1" role="dialog" aria-labelledby="newModificationModal"
  aria-hidden="true">

  <!-- Change class .modal-sm to change the size of the modal -->
  <div class="modal-dialog modal-lg" role="document">


    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Vote on this Application</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for @new_vote, class: "text-center py-4 mb-5" do |form| %>
        <div class="modal-body">
          <% if @new_vote.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@new_vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

              <ul>
              <% @new_vote.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= form.hidden_field :application_type, value: "AppForm" %>
            <%= form.hidden_field :application_id, value: @app_form.id %>
          </div>

          <div class="row">
            <div class="field form-check text-left mb-4 col-sm-4">
              <%= form.check_box :accept, class: "form-check-input decision-checkbox", id: "accept" %>
              <%= form.label "Accept", class: "form-check-label", for: "accept" %>
            </div>
            <div class="field form-check text-left mb-4 col-sm-4">
              <%= form.check_box :modify, class: "form-check-input decision-checkbox", id: "modify" %>
              <%= form.label "Modify", class: "form-check-label", for: "modify" %>
            </div>
            <div class="field form-check text-left mb-4 col-sm-4">
              <%= form.check_box :deny, class: "form-check-input decision-checkbox", id: "deny" %>
              <%= form.label "Reject", class: "form-check-label", for: "deny" %>
            </div>
          </div> <!-- row -->


          <div class="row detail-row" id="modify-row" style="display: none;">
            <div class="container">

              <hr>

              <div class="field">
                <%= form.text_area :modification, class: "form-control mb-4", placeholder: "Describe your proposed modification." %>
              </div>
              <div class="field form-check text-left mb-4">
                <%= form.check_box :suggest_loan, class: "form-check-input", id: "suggest_loan" %>
                <%= form.label "Recommend a loan in place of or as well as a grant", class: "form-check-label", for: "suggest_loan" %>
              </div>
              <div class="field" id="describe_loan_field" style="display: none;">
                <%= form.text_area :describe_loan, class: "form-control mb-4", placeholder: "Describe the loan.  (e.g. Loan instead of grant, Grant of $300 with an additional $300 loan, etc.)" %>
              </div>
            </div> <!-- container -->
          </div> <!-- modify row -->


          <div class="row detail-row" id="deny-row" style="display: none;">
            <div class="container">

                <hr>

                <p>Please select at least one reason for denying this application:</p>

                <div class="field form-check text-left mb-4">
                  <%= form.check_box :denial_fund_overuse, class: "form-check-input", id: "denial_fund_overuse" %>
                  <%= form.label "Overuse of Fund / Not Enough Time Between Applications", class: "form-check-label", for: "denial_fund_overuse" %>
                </div>

                <div class="field form-check text-left mb-4">
                  <%= form.check_box :denial_not_qualify, class: "form-check-input", id: "denial_not_qualify" %>
                  <%= form.label "Need does not qualify", class: "form-check-label", for: "denial_not_qualify" %>
                </div>

                <div class="field form-check text-left mb-4">
                  <%= form.check_box :denial_unreasonable_request, class: "form-check-input", id: "denial_unreasonable_request" %>
                  <%= form.label "Unreasonable request", class: "form-check-label", for: "denial_unreasonable_request" %>
                </div>

                <div class="field form-check text-left mb-4">
                  <%= form.check_box :denial_other, class: "form-check-input", id: "denial_other" %>
                  <%= form.label "Other reason for denial (please describe)", class: "form-check-label", for: "denial_other" %>
                </div>

                <div class="field" id="denial_other_description_field" style="display: none;">
                  <%= form.text_area :denial_other_description, class: "form-control mb-4", placeholder: "Describe the reason for denying this application." %>
                </div>


            </div> <!-- container -->
          </div> <!-- modify row -->




      </div>
      <div class="modal-footer">
        <div class="actions">
          <%= form.button :submit, "Cast My Vote", class: "btn btn-primary" %>
        </div>
      </div>
      <% end %>  <!-- end of form -->
    </div>
  </div>
</div>
<!-- END NEW VOTE MODAL -->











<script>
  $(document).ready(function() {
    $('.decision-checkbox').on('change', function() {
      $('.decision-checkbox').not(this).prop('checked', false);
      $('.detail-row').hide();
    });
    $('#accept').change(function() {
      if($(this).prop("checked")) {
        $('.reject-checkbox').prop('checked', false);
        $('.denial-text').val("");
        $('#suggest_loan').prop('checked', false);
        $('.modification-text').val("");
      }
    });
    $('#modify').change(function() {
      if($(this).prop("checked")) {
        $('.detail-row').hide();
        $('#modify-row').show();
        $('.reject-checkbox').prop('checked', false);
        $('.denial-text').val("");
      } else {
        $('#modify-row').hide();
      }
    });
    $('#deny').change(function() {
      if($(this).prop("checked")) {
        $('.detail-row').hide();
        $('#deny-row').show();
        $('#suggest_loan').prop('checked', false);
        $('.modification-text').val("");
      } else {
        $('#deny-row').hide();
      }
    });
    $('#suggest_loan').change(function() {
      if($(this).prop("checked")) {
        $('#describe_loan_field').show();
      } else {
        $('#describe_loan_field').hide();
      }
    });
    $('#denial_other').change(function() {
      if($(this).prop("checked")) {
        $('#denial_other_description_field').show();
      } else {
        $('#denial_other_description_field').hide();
      }
    });
  });
</script>
