<p id="notice"><%= notice %></p>

<p>
  <strong>Application type:</strong>
  <%= @app_form.application_type %>
</p>

<p>
  <strong>Full:</strong>
  <%= @app_form.full %>
</p>

<p>
  <strong>Date:</strong>
  <%= @app_form.date %>
</p>

<p>
  <strong>Position:</strong>
  <%= @app_form.position %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @app_form.branch %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @app_form.start_date %>
</p>

<p>
  <strong>Email non toca:</strong>
  <%= @app_form.email_non_toca %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @app_form.mobile %>
</p>

<p>
  <strong>Address:</strong>
  <%= @app_form.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @app_form.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @app_form.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @app_form.zip %>
</p>

<p>
  <strong>For other:</strong>
  <%= @app_form.for_other %>
</p>

<p>
  <strong>For other email:</strong>
  <%= @app_form.for_other_email %>
</p>

<p>
  <strong>Recipient toca email:</strong>
  <%= @app_form.recipient_toca_email %>
</p>

<p>
  <strong>Transfer pending:</strong>
  <%= @app_form.transfer_pending %>
</p>

<p>
  <strong>Bank name:</strong>
  <%= @app_form.bank_name %>
</p>

<p>
  <strong>Bank phone:</strong>
  <%= @app_form.bank_phone %>
</p>

<p>
  <strong>Bank address:</strong>
  <%= @app_form.bank_address %>
</p>

<p>
  <strong>Institution name:</strong>
  <%= @app_form.institution_name %>
</p>

<p>
  <strong>Institution contact:</strong>
  <%= @app_form.institution_contact %>
</p>

<p>
  <strong>Institution phone:</strong>
  <%= @app_form.institution_phone %>
</p>

<p>
  <strong>Institution address:</strong>
  <%= @app_form.institution_address %>
</p>

<p>
  <strong>Requested amount:</strong>
  <%= @app_form.requested_amount %>
</p>

<p>
  <strong>Self fund:</strong>
  <%= @app_form.self_fund %>
</p>

<p>
  <strong>Loan preferred:</strong>
  <%= @app_form.loan_preferred %>
</p>

<p>
  <strong>Loan preferred description:</strong>
  <%= @app_form.loan_preferred_description %>
</p>

<p>
  <strong>Description:</strong>
  <%= @app_form.description %>
</p>

<p>
  <strong>Accident:</strong>
  <%= @app_form.accident %>
</p>

<p>
  <strong>Catastrophe:</strong>
  <%= @app_form.catastrophe %>
</p>

<p>
  <strong>Counseling:</strong>
  <%= @app_form.counseling %>
</p>

<p>
  <strong>Family emergency:</strong>
  <%= @app_form.family_emergency %>
</p>

<p>
  <strong>Health:</strong>
  <%= @app_form.health %>
</p>

<p>
  <strong>Memorial:</strong>
  <%= @app_form.memorial %>
</p>

<p>
  <strong>Other hardship:</strong>
  <%= @app_form.other_hardship %>
</p>

<p>
  <strong>Other hardship description:</strong>
  <%= @app_form.other_hardship_description %>
</p>

<p>
  <strong>Intent signature:</strong>
  <%= @app_form.intent_signature %>
</p>

<p>
  <strong>Intent signature date:</strong>
  <%= @app_form.intent_signature_date %>
</p>

<p>
  <strong>Release signature:</strong>
  <%= @app_form.release_signature %>
</p>

<p>
  <strong>Release signature date:</strong>
  <%= @app_form.release_signature_date %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @app_form.approved %>
</p>

<p>
  <strong>Denied:</strong>
  <%= @app_form.denied %>
</p>

<p>
  <strong>Returned:</strong>
  <%= @app_form.returned %>
</p>

<p>
  <strong>Closed:</strong>
  <%= @app_form.closed %>
</p>

<p>
  <strong>Application status:</strong>
  <%= @app_form.application_status %>
</p>

<p>
  <strong>Final decision:</strong>
  <%= @app_form.final_decision %>
</p>

<p>
  <strong>Funding status:</strong>
  <%= @app_form.funding_status %>
</p>

<p>
  <strong>User:</strong>
  <%= @app_form.user %>
</p>

<%= link_to 'Edit', edit_app_form_path(@app_form) %> |
<%= link_to 'Back', app_forms_path %>
