<%= form_with(model: hardship, local: true, class: "text-center py-4 mb-5") do |form| %>
  <% if hardship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hardship.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% hardship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="text-center">
      <%= image_tag "Hardship.png", class: "ball-character" %>
    </div>


  <p class="h4 mb-0 color-toca-red toca-uppercase">Part I:  Personal Information</p>
  <p><small>This section is for the personal information for the person undergoing the hardship.  Information in this section is anonymous and will not be seen by the deciding committee.</small></p>

  <div class="field mb-2">
    <%= form.text_field :full_name, class: "form-control mb-4", placeholder: "Full Name", required: true %>
  </div>

  <div class="md-form mt-4">
    <label for="date">Date of Hardship Application (Today's Date)</label>
    <%= form.text_field :date, placeholder: "Select Application Date", class: "form-control datepicker", id: "date" %>
  </div>

  <div class="row">
    <div class="field col">
      <%= form.text_field :position, class: "form-control mb-4", placeholder: "Position", required: true %>
    </div>

    <div class="field col">
      <%= form.text_field :branch, class: "form-control mb-4", placeholder: "TOCA Branch", required: true %>
    </div>
  </div> <!-- row -->

  <div class="md-form mt-2">
    <label for="start_date">Date Applicant Started at TOCA</label>
    <%= form.text_field :start_date, placeholder: "Select Start Date", class: "form-control datepicker", id: "start_date" %>
  </div>

  <div class="row">
    <div class="field col">
      <%= form.text_field :email_non_toca, class: "form-control mb-4", placeholder: "Email (Non-TOCA)", required: true %>
    </div>

    <div class="field col">
      <%= form.text_field :mobile, class: "form-control mb-4", placeholder: "Mobile Phone", required: true %>
    </div>
  </div> <!-- row -->

  <div class="field">
    <%= form.text_field :address, class: "form-control mb-4", placeholder: "Street Address", required: true %>
  </div>

  <div class="row">
    <div class="field col-sm-5">
      <%= form.text_field :city, class: "form-control mb-4", placeholder: "City", required: true %>
    </div>

    <div class="field col-sm-3">
      <%= form.text_field :state, class: "form-control mb-4", placeholder: "State", required: true %>
    </div>

    <div class="field col-sm-4">
      <%= form.text_field :zip, class: "form-control mb-4", placeholder: "Zip Code", required: true %>
    </div>
  </div> <!-- row -->

  <div class="row">
    <div class="field col">
      <%= form.text_field :bank_name, class: "form-control mb-4", placeholder: "Bank Name", required: true %>
    </div>

    <div class="field col">
      <%= form.text_field :bank_phone, class: "form-control mb-4", placeholder: "Bank Phone", required: true %>
    </div>
  </div> <!-- row -->

  <div class="field">
    <%= form.text_field :bank_address, class: "form-control mb-4", placeholder: "Bank's Full Address", required: true %>
  </div>


  <hr class="mb-4">

  <p class="h4 mb-0 mt-5 color-toca-red toca-uppercase">Part II:  Hardship Information</p>
  <p><small>This information is not anonymous and will be seen by the deciding committee.</small></p>

  <div class="row">
    <div class="field col-md-6 text-left">
      <%= form.label "Amount Requested", class: "mb-0" %><br>
      <small>The amount you need from TOCA Cares. (Numbers only. No $ or punctuation.)</small>
      <%= form.number_field :requested_amount, step: 0.01, class: "form-control mb-4", placeholder: "Requested Amount", required: true %>
    </div>

    <div class="field col-md-6 text-left">
      <%= form.label "Amount You Can Cover", class: "mb-0" %><br>
      <small>Not included in the amount requested. (Numbers only. No $ or punctuation.)</small>
      <%= form.number_field :self_fund, step: 0.01, class: "form-control mb-4", placeholder: "Requested Amount", required: true %>
    </div>
  </div> <!-- prices row -->

  <div class="row">
    <div class="field form-check text-left mb-4">
      <%= form.check_box :loan_preferred, class: "form-check-input", id: "loan_preferred" %>
      <%= form.label "I would prefer to receive a loan than get a grant.", class: "form-check-label", for: "loan_preferred" %>
    </div>
  </div> <!-- row -->

    <h5 class="mb-0 toca-uppercase color-toca-red">Hardship Category</h5>
    <small>Select as many as apply.</small>

    <div class="row">
      <div class="col">
        <div class="field form-check text-left">
          <%= form.check_box :accident, class: "form-check-input", id: "accident" %>
          <%= form.label :accident, class: "form-check-label", for: "accident" %>
        </div>

        <div class="field form-check text-left">
          <%= form.check_box :catastrophe, class: "form-check-input", id: "catastrophe" %>
          <%= form.label :catastrophe, class: "form-check-label", for: "catastrophe" %>
        </div>

        <div class="field form-check text-left">
          <%= form.check_box :counseling, class: "form-check-input", id: "counseling" %>
          <%= form.label :counseling, class: "form-check-label", for: "counseling" %>
        </div>

        <div class="field form-check text-left">
          <%= form.check_box :family_emergency, class: "form-check-input", id: "family_emergency" %>
          <%= form.label "Family Emergency", class: "form-check-label", for: "family_emergency" %>
        </div>
      </div> <!-- column -->

      <div class="col">
        <div class="field form-check text-left">
          <%= form.check_box :health, class: "form-check-input", id: "health" %>
          <%= form.label :health, class: "form-check-label", for: "health" %>
        </div>

        <div class="field form-check text-left">
          <%= form.check_box :memorial, class: "form-check-input", id: "memorial" %>
          <%= form.label :memorial, class: "form-check-label", for: "memorial" %>
        </div>

        <div class="field form-check text-left">
          <%= form.check_box :other_hardship, class: "form-check-input", id: "other_hardship" %>
          <%= form.label :other_hardship, class: "form-check-label", for: "other_hardship" %>
        </div>

        <div class="field col-9 d-none d-sm-block">
          <%= form.text_field :other_hardship_description, class: "form-control mb-4", style: "margin-left: 40px", placeholder: "Other Description" %>
        </div>

      </div> <!-- col -->

      <div class="field col-9 d-block d-sm-none">
        <%= form.text_field :other_hardship_description, class: "form-control mb-4", style: "margin-left: 40px", placeholder: "Description of 'Other' Category" %>
      </div>

    </div> <!-- row -->

  <div class="field">
    <h5 class="mb-3 toca-uppercase color-toca-red">Hardship Description</h5>
    <%= form.text_area :hardship_description, class: "form-control mb-4", placeholder: "Please describe your hardship", required: true %>
  </div>


  <div class="row">
    <div class="field form-check text-left">
      <%= form.check_box :for_other, class: "form-check-input", id: "for_other" %>
      <%= form.label "This hardship is for someone OTHER THAN myself.", class: "form-check-label", for: "for_other" %>
    </div>
  </div> <!-- row -->

  <div class="row" id="for_other_email_field" style="display: none">
    <div class="field col-12">
      <%= form.text_field :for_other_email, class: "form-control col-12 mb-4 mt-3", placeholder: "Your Non-TOCA Email Address?" %>
    </div>

    <div class="field col-12">
      <%= form.text_field :recipient_toca_email, class: "form-control col-12 mb-4 mt-3", placeholder: "TOCA Email Address of the Beneficiary?" %>
    </div>
  </div> <!-- row -->


  <hr class="mt-5 mb-4">

  <p class="h4 mb-3 color-toca-red toca-uppercase">Part III:  Statements</p>

  <h5 class="mb-0 toca-uppercase">Statement of Intent</h5>
  <small>
    I agree that all of the information provided in this application is truthful and reflects a genuine financial hardship. In no way am I attempting to take advantage of TOCA Cares, nor my fellow employees, as this is a community fund. If it appears that I have, serious actions will be taken, jeopardizing my job at TOCA and future access to the community fund.
  </small>

  <div class="row mt-2">
    <div class="field col-sm-8 pt-4">
      <%= form.text_field :intent_signature, class: "form-control mb-4", placeholder: "Type Your Name to Represent Your Signature", required: true %>
    </div>

    <div class="md-form mt-4">
      <label for="intent_signature_date">Date</label>
      <%= form.text_field :intent_signature_date, placeholder: "Select Today's Date", class: "form-control datepicker", id: "intent_signature_date" %>
    </div>
  </div> <!-- row -->

  <h5 class="mb-0 toca-uppercase">Release Agreement</h5>
  <small>
    I agree to the release of confidential information from TOCA Cares to the Associate Emergency Fund Committee and to allow verification by Helping Hands Ministries, Inc., of information pertinent to this request, including a credit bureau report, prior to receipt of any funds.
  </small>

  <div class="row mt-2">
    <div class="field col-sm-8 pt-4">
      <%= form.text_field :release_signature, class: "form-control mb-4", placeholder: "Type Your Name to Represent Your Signature", required: true %>
    </div>

    <div class="md-form mt-4">
      <label for="release_signature_date">Date</label>
      <%= form.text_field :release_signature_date, placeholder: "Select Today's Date", class: "form-control datepicker", id: "release_signature_date" %>
    </div>
  </div> <!-- row -->


  <div class="actions">
    <%= form.button type: "submit", name: "status", value: "Application in Progress", class: "btn btn-light" do %>Save for Later<% end %>
    <%= form.button type: "submit", name: "status", value: "Submitted to Committee", class: "btn btn-primary" do %>Submit for Consideration<% end %>
  </div>

<% end %>  <!-- end of form -->







<script>
  $(document).ready(function () {
    $('#for_other').change(function () {
      $('#for_other_email_field').fadeToggle();
    });
    $(function () {
      $('.datepicker').pickadate();
    })
  });
</script>
