<main class="mt-5">
  <div class="container">

    <h1 class="text-center">Hardship Applications</h1>

    <hr class="my-4"

    <section>
      <h2 class="toca-uppercase color-toca-red" id="submitted-heading"><%= pluralize(@undecided.count, "Undecided Application") %></h2>
      <div id="undecided">
        <% if @undecided.count >= 1 %>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class="black white-text">
                <tr>
                  <th scope="col">Application</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <% @undecided.each do |hardship| %>
                  <tr>
                    <td>
                      <%= link_to hardship_path(hardship) do %>
                        Hardship <%= fixed_digit_number(hardship.id) %> (<%= hardship.date %>)
                      <% end %>
                    </td>
                    <td><%= number_to_currency(hardship.requested_amount, unit: "$") %></td>
                    <td>
                      <%= hardship.status %>
                      <br>
                      <% if hardship.final_decision %>
                        <%= hardship.final_decision %>
                      <% else %>
                        Not Yet Decided
                      <% end %>
                    </td>
                  </tr>
                <% end %> <!-- hardships each -->
              </tbody>
            </table>
          </div> <!-- responsive table -->
        <% end %> <!-- if hardships.count >= 1 -->
      </div> <!-- undecided hardships container -->
    </section> <!-- undecided hardships -->

    <section>
      <h2 class="toca-uppercase color-toca-red" id="approved-heading"><%= pluralize(@approved.count, "Approved Application") %></h2>
      <div id="approved" class="hidden">
        <% if @approved.count >= 1 %>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class="black white-text">
                <tr>
                  <th scope="col">Application</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <% @approved.each do |hardship| %>
                  <tr>
                    <td>
                      <%= link_to hardship_path(hardship) do %>
                        Hardship <%= fixed_digit_number(hardship.id) %> (<%= hardship.date %>)
                      <% end %>
                    </td>
                    <td><%= number_to_currency(hardship.requested_amount, unit: "$") %></td>
                    <td>
                      <%= hardship.status %>
                      <br>
                      <% if hardship.final_decision %>
                        <%= hardship.final_decision %>
                      <% else %>
                        Not Yet Decided
                      <% end %>
                    </td>
                  </tr>
                <% end %> <!-- hardships each -->
              </tbody>
            </table>
          </div> <!-- responsive table -->
        <% end %> <!-- if hardships.count >= 1 -->
      </div> <!-- approved hardships container -->
    </section> <!-- approved hardships -->

    <section>
      <h2 class="toca-uppercase color-toca-red" id="rejected-heading"><%= pluralize(@rejected.count, "Rejected Application") %></h2>
      <div id="rejected" class="hidden">
        <% if @rejected.count >= 1 %>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class="black white-text">
                <tr>
                  <th scope="col">Application</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <% @rejected.each do |hardship| %>
                  <tr>
                    <td>
                      <%= link_to hardship_path(hardship) do %>
                        Hardship <%= fixed_digit_number(hardship.id) %> (<%= hardship.date %>)
                      <% end %>
                    </td>
                    <td><%= number_to_currency(hardship.requested_amount, unit: "$") %></td>
                    <td>
                      <%= hardship.status %>
                      <br>
                      <% if hardship.final_decision %>
                        <%= hardship.final_decision %>
                      <% else %>
                        Not Yet Decided
                      <% end %>
                    </td>
                  </tr>
                <% end %> <!-- hardships each -->
              </tbody>
            </table>
          </div> <!-- responsive table -->
        <% end %> <!-- if hardships.count >= 1 -->
      </div> <!-- hardships container -->
    </section> <!-- rejected hardships -->


  </div> <!-- container -->
</main>


<script type="text/javascript">
  $(document).ready(function() {
    $('#submitted-heading').click(function() {
      $('#submitted').toggle();
    });
    $('#approved-heading').click(function() {
      $('#approved').toggle();
    });
    $('#rejected-heading').click(function() {
      $('#rejected').toggle();
    });
  });
</script>
