<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @hardship.full_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @hardship.date %>
</p>

<p>
  <strong>Position:</strong>
  <%= @hardship.position %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @hardship.branch %>
</p>

<p>
  <strong>Email non toca:</strong>
  <%= @hardship.email_non_toca %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @hardship.mobile %>
</p>

<p>
  <strong>Address:</strong>
  <%= @hardship.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @hardship.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @hardship.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @hardship.zip %>
</p>

<p>
  <strong>Bank name:</strong>
  <%= @hardship.bank_name %>
</p>

<p>
  <strong>Bank phone:</strong>
  <%= @hardship.bank_phone %>
</p>

<p>
  <strong>Bank address:</strong>
  <%= @hardship.bank_address %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @hardship.start_date %>
</p>

<p>
  <strong>Accident:</strong>
  <%= @hardship.accident %>
</p>

<p>
  <strong>Catastrophe:</strong>
  <%= @hardship.catastrophe %>
</p>

<p>
  <strong>Counseling:</strong>
  <%= @hardship.counseling %>
</p>

<p>
  <strong>Family emergency:</strong>
  <%= @hardship.family_emergency %>
</p>

<p>
  <strong>Health:</strong>
  <%= @hardship.health %>
</p>

<p>
  <strong>Memorial:</strong>
  <%= @hardship.memorial %>
</p>

<p>
  <strong>Other hardship:</strong>
  <%= @hardship.other_hardship %>
</p>

<p>
  <strong>Other hardship description:</strong>
  <%= @hardship.other_hardship_description %>
</p>

<p>
  <strong>Requested amount:</strong>
  <%= @hardship.requested_amount %>
</p>

<p>
  <strong>Hardship description:</strong>
  <%= @hardship.hardship_description %>
</p>

<p>
  <strong>Self fund:</strong>
  <%= @hardship.self_fund %>
</p>

<p>
  <strong>Intent signature:</strong>
  <%= @hardship.intent_signature %>
</p>

<p>
  <strong>Intent signature date:</strong>
  <%= @hardship.intent_signature_date %>
</p>

<p>
  <strong>Release signature:</strong>
  <%= @hardship.release_signature %>
</p>

<p>
  <strong>Release signature date:</strong>
  <%= @hardship.release_signature_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @hardship.status %>
</p>

<%= link_to 'Edit', edit_hardship_path(@hardship) %> |
<%= link_to 'Back', hardships_path %>
