<main class="my-5">
  <div class="container">

    <h1 class="text-center">Application for Hardship</h1>

    <p class="text-center">
      <% if @hardship.for_other %>
        <strong>This application was submitted by another TOCA employee on behalf of the applicant.</strong><br>
      <% end %>

      <%= @hardship.status %>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= @hardship.final_decision %>

      <% if current_user && ( current_user.committee || current_user.admin )  && @hardship.status != "Decision Reached" %>
        <br>

        <%= pluralize(@votes_accept.count, "Approval") %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= pluralize(@votes_modify.count, "Request for Modification") %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= pluralize(@votes_deny.count, "Rejection") %>
      <% end %>
    </p>

    <% if @hardship.user == current_user && (@hardship.status == "Application Started" || @hardship.status == "Application in Progress" || @hardship.status == "Returned for Modifications" )%>
      <div class="text-center mb-4">
        <%= link_to "Edit", edit_hardship_path(@hardship), class: "btn btn-md btn-secondary" %>
      </div>
    <% end %>

  </div> <!-- container -->


  <% unless current_user.committee && current_user != @hardship.user %>
    <div class="bg-toca-red mb-3 px-5 py-3">
      <div class="container">
        <h2 class="color-white toca-uppercase">Personal Information</h2>
      </div> <!-- container -->
    </div> <!-- red stripe -->

    <div class="container">
      <section class="my-4">

        <p class="text-center"><em>This section is anonymous to the reviewing committee and can only be seen by the applicant and site administrators.</em></p>

        <div class="row">
          <div class="col-md-6">
            <h4 class="bold">Applicant Information</h4>
            <p>
              <span class="bold"><%= @hardship.full_name %> (<%= @hardship.branch %>)</span><br>
              <em><%= @hardship.position %> (Started <%= @hardship.start_date %>)</em><br>
              <%= mail_to @hardship.email_non_toca %><br>
              <%= number_to_phone(@hardship.mobile) %><br>
              <%= @hardship.address %><br>
              <%= @hardship.city %>, <%= @hardship.state %> &nbsp;<%= @hardship.zip %>
            </p>
          </div> <!-- col-md-6 -->
          <div class="col-md-6">
            <h4 class="bold">Bank Information</h4>
            <p>
              <strong>Bank Name:</strong> <%= @hardship.bank_name %><br>
              <strong>Bank Phone:</strong> <%= number_to_phone(@hardship.bank_phone) %><br>
              <strong>Bank Address:</strong> <%= @hardship.bank_address %>
            </p>
          </div> <!-- col-md-6 -->
        </div> <!-- row -->

        <h4 class="bold">Application Information</h4>
        <p><strong>Application Date:</strong> <%= @hardship.date %><p>

      </section> <!-- personal info section -->
    </div> <!-- container -->
  <% end %> <!-- hidden to committee -->

  <section class="my-4">
    <div class="bg-toca-red mb-3 px-5 py-3">
      <div class="container">
        <h2 class="color-white toca-uppercase">Hardship Information</h2>
      </div> <!-- container -->
    </div> <!-- red stripe -->

    <div class="container">

      <% unless current_user && current_user.committee && current_user != @hardship.user %>
        <p class="text-center"><em>This section is visible to the deciding committee members.</em></p>
      <% end %>


      <h3 class="color-toca-red toca-uppercase">Funding Details</h3>
      <p><strong>Requested Amount:</strong>
        <%= number_to_currency(@hardship.requested_amount, unit: "$") %>
        <br>
        <strong>Amount Applicant Can Self-Fund:</strong>
        <%= number_to_currency(@hardship.self_fund, unit: "$") %>
        <% if @hardship.loan_preferred %>
          <br><em>This applicant would prefer to receive a loan instead of a grant.</em>
        <% end %>
      </p>



      <h3 class="color-toca-red toca-uppercase">Hardship Description</h3>
      <p>
        <% category_array = [] %>

        <% if @hardship.accident %>
          <% category_array << "Accident" %>
        <% end %>
        <% if @hardship.catastrophe %>
          <% category_array << "Catastrophic Event" %>
        <% end %>
        <% if @hardship.counseling %>
          <% category_array << "Counseling" %>
        <% end %>
        <% if @hardship.family_emergency %>
          <% category_array << "Family Emergency" %>
        <% end %>
        <% if @hardship.health %>
          <% category_array << "Health/Medical" %>
        <% end %>
        <% if @hardship.memorial %>
          <% category_array << "Memorial (Expenses Associated with Loss)" %>
        <% end %>
        <% if @hardship.other_hardship %>
          <% category_array << "Other Hardship: " + @hardship.other_hardship_description %>
        <% end %>

        <strong>Hardship Categories: </strong><%= category_array.join(', ') %>
      </p>

      <p>
        <%= @hardship.hardship_description %>
      </p>





      <% if @seconded_vote && @seconded_vote.modifications_accepted_by_applicant %>
        <h3 class="color-toca-red toca-uppercase">Modifications (Agreed to by Applicant):</h3>
        <p><strong><%= @seconded_vote.modification %></strong></p>
        <% if @seconded_vote.suggest_loan %><p><strong>Loan Suggested:  </strong><%= @seconded_vote.describe_loan %><% end %>
      <% end %>


    </div> <!-- container -->
  </section> <!-- hardship section -->



  <% if current_user && ( ( current_user == @hardship.user && @hardship.status == "Returned for Modifications") || (current_user.committee && @hardship.final_decision == "Modifications Requested") ) %>
    <section class="my-4 pb-5">

      <div class="bg-toca-red mb-3 px-5 py-3">
        <div class="container">
          <h2 class="color-white toca-uppercase">Requested Modifications</h2>
        </div> <!-- container -->
      </div> <!-- red stripe -->

      <div class="container">
        <% @votes.each do |v| %>
          <p><strong><%= v.modification %></strong></p>
          <% if v.suggest_loan %><p><strong>Loan Suggested:  </strong><%= v.describe_loan %><% end %>
        <% end %>
        <% if current_user == @hardship.user %>
          <div class="text-center">
            <%= link_to "Accept Proposed Modifications", accept_modifications_path(@seconded_vote.id), method: :post, class: "btn btn-md btn-secondary", style: "display: inline-block" %>
            <%= link_to "Change My Application", edit_hardship_path(@hardship), class: "btn btn-md btn-secondary" %>
          </div>
        <% end %>
      </div> <!-- container -->

    </section>
  <% end %> <!-- committee only for decisions -->




  <!-- messages section -->
  <section class="my-4">

    <div class="bg-toca-red mb-3 px-5 py-3">
      <div class="container">
        <h2 class="color-white toca-uppercase">Messages</h2>
      </div> <!-- container -->
    </div> <!-- red stripe -->


    <!-- MESSAGES -->
    <div class="container py-3">

      <!-- NEW MESSAGES -->
      <h3 class="toca-uppercase color-toca-red mb-0">Send a New Message</h3>
      <% if current_user && ( current_user.admin || current_user.committee ) %>
        <p>If you have a question about this application, you can send the applicant a message here.</p>
      <% else %>
        <p>If you have a question about your application, you can message an admin here.</p>
      <% end %>
      <%= link_to "Send a Message", new_message_path(ref_application_type: @hardship.application_type, ref_application_id: @hardship.id, user_id: @hardship.user.id), class: "btn btn-secondary mt-3 mb-4 btn-lg btn-block" %>

      <!-- EXISTING MESSAGES  -->
      <% if @messages.count > 0 %>
        <h3 class="toca-uppercase color-toca-red mb-0">Existing Messages</h3>
        <p class="mb-2"><small>Click a message to see the conversation thread.</small></p>
        <ul>
          <% @messages.each do |message| %>
            <li>
              <%= link_to message.subject, message_path(message.id) %>
              <% if !message.user.admin && !message.user.committee %> (From Applicant<% if message.issue_closed %>, Issue Closed by Admin<% end %>)<% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div> <!-- container -->

  </section> <!-- messages -->





  <% if current_user && current_user.committee && @hardship.status == "Submitted to Committee" && ( @hardship.final_decision == "Not Decided" || @hardship.final_decision == "Modifications Requested" ) %>
    <section class="my4">
      <div class="bg-toca-red mb-3 px-5 py-3">
        <div class="container">
          <h2 class="color-white toca-uppercase">Application Decision</h2>
        </div> <!-- container -->
      </div> <!-- red stripe -->

      <div class="container py-3">
        <% if @votes.count > 0 %>
          <h3 class="toca-uppercase color-toca-red">Existing Votes</h3>
          <p class="color-dark-grey"><em>
            Seconding a proposed vote will remove this application from consideration and send it back to the applicant for revision.
          </em></p>
          <table>
            <% @votes.each do |vote| %>
              <tr>
                <td style="vertical-align: top">
                  <% if vote.user_id == current_user.id %>
                    <button type="button" class="btn btn-sm mr-3 btn-light" data-toggle="modal" data-target="#editVoteModal-<%= vote.id %>">
                      Change My Vote
                    </button>
                    <%= render partial: "hardships/vote_modal", locals: { vote: vote } %>
                  <% else %>
                    <%= button_to "Second This Vote", second_vote_path(vote), class: "btn btn-sm mr-3 btn-secondary" %>
                  <% end %>
                </td>
                <td style="vertical-align: top; padding: 10px">
                  <% if vote.accept %>
                    <strong>Approve As Is</strong>
                  <% elsif vote.modify %>
                    <strong>Request Modifications</strong>
                    <br><%= vote.modification %>
                    <% if vote.suggest_loan %>
                      <br>Loan Suggested: <%= vote.describe_loan %>
                    <% end %>
                  <% elsif vote.deny %>
                    <strong>Deny Application</strong>
                    <% denial_reasons_array = [] %>
                    <% if vote.denial_fund_overuse %>
                      <% denial_reasons_array << "Overuse of Fund/Not Enough Time Between Applications" %>
                    <% end %>
                    <% if vote.denial_not_qualify %>
                      <% denial_reasons_array << "Need Doesn't Qualify" %>
                    <% end %>
                    <% if vote.denial_unreasonable_request %>
                      <% denial_reasons_array << "Unreasonable Request" %>
                    <% end %>
                    <% if vote.denial_other %>
                      <% denial_reasons_array << "Other: " + vote.denial_other_description %>
                    <% end %>
                    <br><%= denial_reasons_array.join("<br>").html_safe %>
                  <% end %>
                <td>
              </tr>
            <% end %>
          </table>
        <% else %>
          <p class="text-center">This application doesn't have any votes yet.</p>
        <% end %>

        <button type="button" class="btn btn-secondary my-3 btn-lg btn-block" data-toggle="modal" data-target="#newVoteModal">
          Vote on This Application
        </button>
      </div> <!-- container -->


    </section>
  <% end %> <!-- committee only for decisions -->

</main>








<!-- NEW VOTE MODAL -->
<div class="modal fade" id="newVoteModal" tabindex="-1" role="dialog" aria-labelledby="newModificationModal"
  aria-hidden="true">

  <!-- Change class .modal-sm to change the size of the modal -->
  <div class="modal-dialog modal-lg" role="document">


    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Vote on this Application</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for @new_vote, class: "text-center py-4 mb-5" do |form| %>
        <div class="modal-body">
          <% if @new_vote.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@new_vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

              <ul>
              <% @new_vote.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= form.hidden_field :application_type, value: "hardship" %>
            <%= form.hidden_field :application_id, value: @hardship.id %>
          </div>

          <div class="row">
            <div class="field form-check text-left mb-4 col-sm-4">
              <%= form.check_box :accept, class: "form-check-input decision-checkbox", id: "accept" %>
              <%= form.label "Accept", class: "form-check-label", for: "accept" %>
            </div>
            <div class="field form-check text-left mb-4 col-sm-4">
              <%= form.check_box :modify, class: "form-check-input decision-checkbox", id: "modify" %>
              <%= form.label "Modify", class: "form-check-label", for: "modify" %>
            </div>
            <div class="field form-check text-left mb-4 col-sm-4">
              <%= form.check_box :deny, class: "form-check-input decision-checkbox", id: "deny" %>
              <%= form.label "Reject", class: "form-check-label", for: "deny" %>
            </div>
          </div> <!-- row -->


          <div class="row detail-row" id="modify-row" style="display: none;">
            <div class="container">

              <hr>

              <div class="field">
                <%= form.text_area :modification, class: "form-control mb-4", placeholder: "Describe your proposed modification." %>
              </div>
              <div class="field form-check text-left mb-4">
                <%= form.check_box :suggest_loan, class: "form-check-input", id: "suggest_loan" %>
                <%= form.label "Recommend a loan in place of or as well as a grant", class: "form-check-label", for: "suggest_loan" %>
              </div>
              <div class="field" id="describe_loan_field" style="display: none;">
                <%= form.text_area :describe_loan, class: "form-control mb-4", placeholder: "Describe the loan.  (e.g. Loan instead of grant, Grant of $300 with an additional $300 loan, etc.)" %>
              </div>
            </div> <!-- container -->
          </div> <!-- modify row -->


          <div class="row detail-row" id="deny-row" style="display: none;">
            <div class="container">

                <hr>

                <p>Please select at least one reason for denying this application:</p>

                <div class="field form-check text-left mb-4">
                  <%= form.check_box :denial_fund_overuse, class: "form-check-input", id: "denial_fund_overuse" %>
                  <%= form.label "Overuse of Fund / Not Enough Time Between Applications", class: "form-check-label", for: "denial_fund_overuse" %>
                </div>

                <div class="field form-check text-left mb-4">
                  <%= form.check_box :denial_not_qualify, class: "form-check-input", id: "denial_not_qualify" %>
                  <%= form.label "Need does not qualify", class: "form-check-label", for: "denial_not_qualify" %>
                </div>

                <div class="field form-check text-left mb-4">
                  <%= form.check_box :denial_unreasonable_request, class: "form-check-input", id: "denial_unreasonable_request" %>
                  <%= form.label "Unreasonable request", class: "form-check-label", for: "denial_unreasonable_request" %>
                </div>

                <div class="field form-check text-left mb-4">
                  <%= form.check_box :denial_other, class: "form-check-input", id: "denial_other" %>
                  <%= form.label "Other reason for denial (please describe)", class: "form-check-label", for: "denial_other" %>
                </div>

                <div class="field" id="denial_other_description_field" style="display: none;">
                  <%= form.text_area :denial_other_description, class: "form-control mb-4", placeholder: "Describe the reason for denying this application." %>
                </div>


            </div> <!-- container -->
          </div> <!-- modify row -->




      </div>
      <div class="modal-footer">
        <div class="actions">
          <%= form.button :submit, "Cast My Vote", class: "btn btn-primary" %>
        </div>
      </div>
      <% end %>  <!-- end of form -->
    </div>
  </div>
</div>
<!-- END NEW VOTE MODAL -->











<script>
  $(document).ready(function() {
    $('.decision-checkbox').on('change', function() {
      $('.decision-checkbox').not(this).prop('checked', false);
      $('.detail-row').hide();
    });
    $('#accept').change(function() {
      if($(this).prop("checked")) {
        $('.reject-checkbox').prop('checked', false);
        $('.denial-text').val("");
        $('#suggest_loan').prop('checked', false);
        $('.modification-text').val("");
      }
    });
    $('#modify').change(function() {
      if($(this).prop("checked")) {
        $('.detail-row').hide();
        $('#modify-row').show();
        $('.reject-checkbox').prop('checked', false);
        $('.denial-text').val("");
      } else {
        $('#modify-row').hide();
      }
    });
    $('#deny').change(function() {
      if($(this).prop("checked")) {
        $('.detail-row').hide();
        $('#deny-row').show();
        $('#suggest_loan').prop('checked', false);
        $('.modification-text').val("");
      } else {
        $('#deny-row').hide();
      }
    });
    $('#suggest_loan').change(function() {
      if($(this).prop("checked")) {
        $('#describe_loan_field').show();
      } else {
        $('#describe_loan_field').hide();
      }
    });
    $('#denial_other').change(function() {
      if($(this).prop("checked")) {
        $('#denial_other_description_field').show();
      } else {
        $('#denial_other_description_field').hide();
      }
    });
  });
</script>
