<main class="my-5">
  <div class="container">

    <h1 class="text-center">Application for Hardship</h1>

    <p class="text-center">
      <%= @hardship.status %>
      <% if @hardship.returned %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        Returned for Modification
      <% end %>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= @hardship.final_decision %>

      <br>

      <%= pluralize(@hardship.approvals.count, "Approval") %>
      <%= @hardship.approvals %>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= pluralize(@hardship.rejections.count, "Rejection") %>
      <%= @hardship.rejections %>
    </p>
  </div> <!-- container -->


  <% unless current_user.committee %>
    <div class="bg-toca-red mb-3 px-5 py-3">
      <div class="container">
        <h2 class="color-white toca-uppercase">Personal Information</h2>
      </div> <!-- container -->
    </div> <!-- red stripe -->

    <div class="container">
      <section class="my-4">

        <p class="text-center"><em>This section is anonymous to the reviewing committee and can only be seen by the applicant and site administrators.</em></p>

        <div class="row">
          <div class="col-md-6">
            <h4 class="bold">Applicant Information</h4>
            <p>
              <span class="bold"><%= @hardship.full_name %> (<%= @hardship.branch %>)</span><br>
              <em><%= @hardship.position %> (Started <%= @hardship.start_date %>)</em><br>
              <%= mail_to @hardship.email_non_toca %><br>
              <%= number_to_phone(@hardship.mobile) %><br>
              <%= @hardship.address %><br>
              <%= @hardship.city %>, <%= @hardship.state %> &nbsp;<%= @hardship.zip %>
            </p>
          </div> <!-- col-md-6 -->
          <div class="col-md-6">
            <h4 class="bold">Bank Information</h4>
            <p>
              <strong>Bank Name:</strong> <%= @hardship.bank_name %><br>
              <strong>Bank Phone:</strong> <%= number_to_phone(@hardship.bank_phone) %><br>
              <strong>Bank Address:</strong> <%= @hardship.bank_address %>
            </p>
          </div> <!-- col-md-6 -->
        </div> <!-- row -->

        <h4 class="bold">Application Information</h4>
        <p><strong>Application Date:</strong> <%= @hardship.date %><br>

          <% category_array = [] %>

          <% if @hardship.accident %>
            <% category_array << "Accident" %>
          <% end %>
          <% if @hardship.catastrophe %>
            <% category_array << "Catastrophic Event" %>
          <% end %>
          <% if @hardship.counseling %>
            <% category_array << "Counseling" %>
          <% end %>
          <% if @hardship.family_emergency %>
            <% category_array << "Family Emergency" %>
          <% end %>
          <% if @hardship.health %>
            <% category_array << "Health/Medical" %>
          <% end %>
          <% if @hardship.memorial %>
            <% category_array << "Memorial (Expenses Associated with Loss)" %>
          <% end %>
          <% if @hardship.other_hardship %>
            <% category_array << "Other Hardship" %>
          <% end %>

          <strong>Hardship Categories: </strong><%= category_array.join(', ') %>
          <% if @hardship.other_hardship %>
            <br><strong>Other Hardship Description:</strong> <%= @hardship.other_hardship_description %>
          <% end %>
        </p>

      </section> <!-- personal info section -->
    </div> <!-- container -->
  <% end %> <!-- hidden to committee -->

  <section class="my-4">
    <div class="bg-toca-red mb-3 px-5 py-3">
      <div class="container">
        <h2 class="color-white toca-uppercase">Hardship Information</h2>
      </div> <!-- container -->
    </div> <!-- red stripe -->

    <div class="container">

      <% unless current_user && current_user.committee %>
        <p class="text-center"><em>This section is visible to the deciding committee members.</em></p>
      <% end %>

      <p><strong>Requested Amount:</strong>
        <%= number_to_currency(@hardship.requested_amount, unit: "$") %>
      </p>

      <p><strong>Amount Applicant Can Self-Fund:</strong>
        <%= number_to_currency(@hardship.self_fund, unit: "$") %>
      </p>

      <p>
        <%= @hardship.hardship_description %>
      </p>
    </div> <!-- container -->
  </section> <!-- hardship section -->


  <% if current_user && current_user.committee && @hardship.status == "Submitted to Committee" && ( @hardship.final_decision == "Not Decided" || @hardship.final_decision == "Modifications Requested" ) %>
    <section class="my4">
      <div class="bg-toca-red mb-3 px-5 py-3">
        <div class="container">
          <h2 class="color-white toca-uppercase">Application Actions</h2>
        </div> <!-- container -->
      </div> <!-- red stripe -->

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-sm-4">
            <%= button_to "Approve Application", approve_hardship_path(@hardship), method: :post, data: { confirm: "Are you sure you want to approve this application?"}, class: "btn btn-light btn-lg mx-2 my-2" %>
          </div> <!-- col -->
          <div class="col-sm-4">
            <%= button_to "Request Modification", approve_hardship_path(@hardship), method: :post, data: { confirm: "Are you sure you want to approve this application?"}, class: "btn btn-light btn-lg mx-2 my-2" %>
          </div> <!-- col -->
          <div class="col-sm-4">
            <%= button_to "Reject Application", reject_hardship_path(@hardship), method: :post, data: { confirm: "Are you sure you want to reject this application?"}, class: "btn btn-light btn-lg mx-2 my-2" %>
          </div> <!-- col -->
        </div> <!-- row -->
      </div> <!-- container -->
    </section>
  <% end %> <!-- committee only for decisions -->

</main>
