<main class="mt-5">
  <div class="container">

    <h1 class="text-center">Testimonials</h1>

    <section class="team-section magazine-section text-center">
      <p class="dark-grey-text w-responsive mx-auto">
        Read what others say about the program and share your thoughts of how grants have helped you.  This section is to let you know your contributions make a difference and to show you how others are using the program to improve their lives.  The program is confidential, but the impact on the group&nbsp;is&nbsp;tangible.
      </p>

      <div class="text-center mb-5">
        <%= link_to 'Submit a Testimonial', new_testimonial_path, class: "btn btn-primary" %>
        <% if current_user && current_user.admin %>
          <%= link_to 'Manage Testimonials', home_testimonials_path, class: "btn btn-secondary" %>
        <% end %>
      </div> <!-- center for button -->
    </section>
  </div> <!-- container -->




  <hr>



  <div class="container-fluid px-5 py-5">
    <div class="row text-center">

      <div class="col-lg-4 mb-md-0 mb-5"> <!-- hardship -->

        <div class="testimonial">
          <div class="row">
            <div class="col-sm-4 col-lg-12">
              <div class="avatar mx-auto mb-3">
                <%= image_tag "hardship.jpg", class: "z-depth-1 img-fluid",  style: "max-width: 100%", alt: "Young man bent over a broken-down car." %>
              </div> <!-- avatar -->
            </div> <!-- column -->
            <div class="col-sm-8 col-lg-12 text-left">

              <% @featured_hardship.each do |testimonial| %>
                <h6 class="font-weight-bold color-black toca-uppercase mt-3"><%= testimonial.category %>:  <%= testimonial.title %></h6>
                <p class="dark-grey-text">
                  <i class="fas fa-quote-left pr-2 color-toca-red"></i>
                  <%= testimonial.body %>
                  <i class="fas fa-quote-right pl-2 color-toca-red"></i>
                </p>
              <% end %>

              <hr>

              <% @other_hardships.each do |testimonial| %>
                <div class="single-news mb-3"> <!-- Small news -->
                  <div class="d-flex justify-content-between">
                    <div class="col-11 text-truncate pl-0 mb-1">
                      <strong><a class="color-toca-red"><%= testimonial.title %></a></strong>
                    </div> <!-- title -->
                    <a id="<%= testimonial.id %>-arrow-down" style="display:none"><i class="color-toca-green fas fa-angle-double-down"></i></a>
                    <a id="<%= testimonial.id %>-arrow-right"><i class="color-toca-green fas fa-angle-double-right"></i></a>
                  </div> <!-- d-flex -->
                  <div id="<%= testimonial.id %>-body" style="display:none"><p class="color-light-dark" style="line-height: 1.3; font-size: 14px"><em><%= testimonial.body %></em></p></div>
                </div>   <!-- Small news -->

                <script>
                  $(document).ready(function() {
                    $('#<%= testimonial.id %>-arrow-right').click(function() {
                      $('#<%= testimonial.id %>-arrow-right').toggle();
                      $('#<%= testimonial.id %>-arrow-down').toggle();
                      $('#<%= testimonial.id %>-body').toggle();
                    });
                    $('#<%= testimonial.id %>-arrow-down').click(function() {
                      $('#<%= testimonial.id %>-arrow-right').toggle();
                      $('#<%= testimonial.id %>-arrow-down').toggle();
                      $('#<%= testimonial.id %>-body').toggle();
                    });
                  });
                </script>
              <% end %>

            </div> <!-- hardship  column -->
          </div> <!-- hardship other row -->
        </div> <!-- testimonial -->

      </div> <!-- end hardship -->




      <div class="col-lg-4 mb-md-0 mb-5"> <!-- scholarship -->
        <div class="testimonial">
            <div class="row">
              <div class="col-sm-4 col-lg-12">
                <div class="avatar mx-auto mb-3">
                  <%= image_tag "scholarship.jpg", class: "z-depth-1 img-fluid",  style: "max-width: 100%", alt: "Young woman graduating from college." %>
                </div>
              </div> <!-- col -->
              <div class="col-sm-8 col-lg-12 text-left">
                <% if @featured_scholarship.count < 2 %>
                  <h6 class="font-weight-bold color-black toca-uppercase mt-3">Scholarship</h6>
                  <p class="dark-grey-text">
                    <i class="fas fa-quote-left pr-2 color-toca-red"></i>
                    Knowledge is a weapon. I&nbsp;intend to be formidably&nbsp;armed.
                    <i class="fas fa-quote-right pl-2 color-toca-red"></i>
                    <br><em><small>―Terry Goodkind</small></em>
                  </p>
                <% else %>
                  <% @featured_scholarship.each do |testimonial| %>
                    <h6 class="font-weight-bold color-black toca-uppercase mt-3"><%= testimonial.category %>:  <%= testimonial.title %></h6>
                    <p class="dark-grey-text">
                      <i class="fas fa-quote-left pr-2 color-toca-red"></i>
                      <%= testimonial.body %>
                      <i class="fas fa-quote-right pl-2 color-toca-red"></i>
                    </p>
                  <% end %>
                <% end %>

                <hr>

                <% if @other_scholarships && @other_scholarships.count != 0  %>
                  <% @other_scholarships.each do |testimonial| %>
                    <div class="single-news mb-3"> <!-- Small news -->
                      <div class="d-flex justify-content-between">
                        <div class="col-11 text-truncate pl-0 mb-1">
                          <strong><a class="color-toca-red"><%= testimonial.title %></a></strong>
                        </div> <!-- title -->
                        <a id="<%= testimonial.id %>-arrow-down" style="display:none"><i class="color-toca-green fas fa-angle-double-down"></i></a>
                        <a id="<%= testimonial.id %>-arrow-right"><i class="color-toca-green fas fa-angle-double-right"></i></a>
                      </div> <!-- d-flex -->
                      <div id="<%= testimonial.id %>-body" style="display:none"><p class="color-light-dark" style="line-height: 1.3; font-size: 14px"><em><%= testimonial.body %></em></p></div>
                    </div>   <!-- Small news -->

                    <script>
                      $(document).ready(function() {
                        $('#<%= testimonial.id %>-arrow-right').click(function() {
                          $('#<%= testimonial.id %>-arrow-right').toggle();
                          $('#<%= testimonial.id %>-arrow-down').toggle();
                          $('#<%= testimonial.id %>-body').toggle();
                        });
                        $('#<%= testimonial.id %>-arrow-down').click(function() {
                          $('#<%= testimonial.id %>-arrow-right').toggle();
                          $('#<%= testimonial.id %>-arrow-down').toggle();
                          $('#<%= testimonial.id %>-body').toggle();
                        });
                      });
                    </script>
                  <% end %>
                <% end %>

              </div> <!-- col -->
            </div> <!-- row -->
          </div> <!-- testimonial -->

        </div> <!--  scholarship  -->




        <div class="col-lg-4 mb-md-0 mb-5"> <!-- charity -->

          <div class="testimonial">
            <div class="row">
              <div class="col-sm-4 col-lg-12">
                <div class="avatar mx-auto mb-3">
                  <%= image_tag "charity.jpg", class: "z-depth-1 img-fluid",  style: "max-width: 100%", alt: "Young man building houses for charity." %>
                </div> <!-- avatar -->
              </div> <!-- column -->
              <div class="col-sm-8 col-lg-12 text-left">
                <% @featured_charity.each do |testimonial| %>
                  <h6 class="font-weight-bold color-black toca-uppercase mt-3"><%= testimonial.category %>:  <%= testimonial.title %></h6>
                  <p class="dark-grey-text">
                    <i class="fas fa-quote-left pr-2 color-toca-red"></i>
                    <%= testimonial.body %>
                    <i class="fas fa-quote-right pl-2 color-toca-red"></i>
                  </p>
                <% end %>

                <hr>

                <% @other_charities.each do |testimonial| %>
                  <div class="single-news mb-3"> <!-- Small news -->
                    <div class="d-flex justify-content-between">
                      <div class="col-11 text-truncate pl-0 mb-1">
                        <strong><a class="color-toca-red"><%= testimonial.title %></a></strong>
                      </div> <!-- title -->
                      <a id="<%= testimonial.id %>-arrow-down" style="display:none"><i class="color-toca-green fas fa-angle-double-down"></i></a>
                      <a id="<%= testimonial.id %>-arrow-right"><i class="color-toca-green fas fa-angle-double-right"></i></a>
                    </div> <!-- d-flex -->
                    <div id="<%= testimonial.id %>-body" style="display:none"><p class="color-light-dark" style="line-height: 1.3; font-size: 14px"><em><%= testimonial.body %></em></p></div>
                  </div>   <!-- Small news -->

                  <script>
                    $(document).ready(function() {
                      $('#<%= testimonial.id %>-arrow-right').click(function() {
                        $('#<%= testimonial.id %>-arrow-right').toggle();
                        $('#<%= testimonial.id %>-arrow-down').toggle();
                        $('#<%= testimonial.id %>-body').toggle();
                      });
                      $('#<%= testimonial.id %>-arrow-down').click(function() {
                        $('#<%= testimonial.id %>-arrow-right').toggle();
                        $('#<%= testimonial.id %>-arrow-down').toggle();
                        $('#<%= testimonial.id %>-body').toggle();
                      });
                    });
                  </script>
                <% end %>

              </div> <!-- column -->
            </div> <!-- row -->
          </div> <!-- testimonial -->

        </div> <!--  end charity  -->



      </div> <!--Grid row-->


   </div> <!-- container -->
 </main>
