<!--Main Navigation-->
<header>

  <nav class="navbar navbar-expand-lg">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "TOCA_CARES_LOGO_FNL7.png", style: "height: 30px", alt: "TOCA Cares Logo" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><%= link_to page_path(:apply), class: "nav-link" do %>Apply<% end %></li>
        <li class="nav-item"><%= link_to page_path(:contribute), class: "nav-link" do %>Contribute<% end %></li>
        <li class="nav-item"><%= link_to testimonials_path, class: "nav-link" do %>Testimonials<% end %></li>
        <li class="nav-item"><%= link_to page_path(:info), class: "nav-link" do %>Info<% end %></li>
        <% if current_user %>
          <li class="nav-item"><%= link_to user_path(current_user), class: "nav-link" do %>My Account<% end %></li>
        <% else %>
          <li class="nav-item"><%= link_to new_user_session_path, class: "nav-link" do %>Sign In<% end %></li>
        <% end %>
      </ul>
    </div>
  </nav>

</header>
<!--Main Navigation-->
